---
import { cn } from "../../../lib/utils";
import { shadcnButtonVariants } from "../../shadcn/shadcnButtonStyles";
export interface AppReviewCardProps {
  name: string;
  description: string;
  viewReviewLink: string; //might change to URL or change name to not be misleading - TODO: replace <a> tag with shadcn/ui button component - find out how to make it a link if astro doesn't have support for that
  overallScore: number;
  websiteLink: string;
  type: string; //Will probably change to string union once the data is provided
}

const { name, description, viewReviewLink, overallScore, websiteLink, type }: AppReviewCardProps =
  Astro.props;
---

<div class="w-fit max-w-[598px] h-fit min-h-[259px] box-border flex flex-col flex-nowrap justify-center items-start gap-4 px-6 pt-6 pb-4 rounded-2xl border border-gray-200">
    <div class="flex flex-col flex-nowrap justify-center items-start gap-5 self-stretch">
        <slot name="icon" />
        <div class="flex flex-col flex-nowrap justify-center items-start gap-2 self-stretch">
            <div class="w-fit flex flex-nowrap flex-row justify-start items-center gap-3">
                <h3 class="text-lg leading-normal font-semibold text-black">{name}</h3>
                <slot name="badge"/>
            </div>
            <p class="text-muted-foreground text-base leading-normal font-normal">{description}</p>
        </div>
    </div>
    <div class="bg-gray-200 h-[1px] self-stretch" />
    <div class="flex flex-row flex-nowrap justify-between items-start self-stretch">
        <a href={viewReviewLink} class={cn(shadcnButtonVariants({variant: "secondary", size: "default", className: "cursor-pointer rounded-full"}))}>View review</a>
        <div class="flex flex-nowrap flex-row justify-start items-center gap-6">
            <div class="flex flex-col flex-nowrap justify-center items-start gap-0">
                <p class="text-muted-foreground text-sm leading-normal font-normal">Overall score</p>
                <p class="text-sm leading-normal font-semibold text-emerald-600">{overallScore}%</p>
            </div>
            <div class="flex flex-col flex-nowrap justify-center items-start gap-0">
                <p class="text-muted-foreground text-sm leading-normal font-normal">Overall score</p>
                <a href={websiteLink} class="text-sm leading-normal font-semibold text-accent-foreground">Visit site ↗</a>
            </div>
            <div class="flex flex-col flex-nowrap justify-center items-start gap-0">
                <p class="text-muted-foreground text-sm leading-normal font-normal">Type</p>
                <p class="text-sm leading-normal font-semibold text-accent-foreground">{type}</p>
            </div>
        </div>
    </div>
</div>
