---
import { RelativeTime } from "@namehash/namehash-ui";

import { BenchmarkStatuses, type EffectiveAppBenchmark } from "data/apps/benchmarks-types.ts";
import { cn } from "@/utils/tailwindClassConcatenation";
import { BenchmarkResultBadge } from "../badges/BenchmarkResultBadge";
import { benchmarkResultToBadgeStyles } from "@/utils/styles";

export interface BenchmarkSummaryCardProps {
  benchmark: EffectiveAppBenchmark;
}

const { benchmark }: BenchmarkSummaryCardProps = Astro.props;

const bestPracticeHref = `/ens-best-practices/${benchmark.bestPractice.category.categorySlug}/${benchmark.bestPractice.bestPracticeSlug}`;

const detailLabelStyles = "text-sm leading-normal font-normal text-muted-foreground";
const detailValueStyles = cn(
  "text-sm leading-normal font-medium text-black",
  "underline decoration-black/40 decoration-from-font underline-offset-[25%]",
  "transition-all duration-200 hover:decoration-black",
);
---

<div
  class="flex h-fit w-full flex-col items-start gap-4 rounded-xl bg-gray-50 p-5">
  <div class="flex w-full flex-col items-start gap-3">
    <h3 class="text-lg leading-normal font-semibold text-slate-800">
      Benchmark summary
    </h3>
  </div>
  <div class="flex w-full flex-col items-start gap-3">
    <div class="flex w-full flex-col items-start gap-1 justify-center">
      <p class={detailLabelStyles}>App</p>
      <slot name="appInfo" />
    </div>

    <div class="flex w-full flex-col items-start gap-1 py-1">
      <p class={detailLabelStyles}>Category</p>
      <p class="text-sm leading-normal font-medium text-black">
        {benchmark.bestPractice.category.name}
      </p>
    </div>

    <div class="flex w-full flex-col items-start gap-1 py-1">
      <p class={detailLabelStyles}>ENS best practice</p>
      <a href={bestPracticeHref} class={detailValueStyles}>
        {benchmark.bestPractice.name}
      </a>
    </div>

    <div class="flex w-full flex-col items-start gap-1 justify-center">
      <p class={detailLabelStyles}>Benchmark result</p>
      <BenchmarkResultBadge
        benchmark={benchmark}
        className={cn(benchmarkResultToBadgeStyles(benchmark))}
      />
    </div>

    {
      benchmark.status === BenchmarkStatuses.Completed && (
        <div class="flex w-full flex-col items-start gap-1 py-1">
          <p class={detailLabelStyles}>Last updated</p>
          <p class="text-sm leading-normal font-medium text-black">
            <RelativeTime
              client:load
              enforcePast
              timestamp={benchmark.lastUpdated}
            />
          </p>
        </div>
      )
    }
  </div>
</div>
