---
import { cn } from "../../../utils/tailwindClassConcatenation";
import { shadcnButtonVariants } from "../../ui/shadcnButtonStyles";

import type { BestPracticeApp } from "data/ens-best-practices/types.ts";

export interface BenchmarkResultCardProps {
  bestPractice: BestPracticeApp;
  viewDetails: {
    text: string;
    link: string;
  };
}
const { bestPractice, viewDetails }: BenchmarkResultCardProps = Astro.props;
---

<a
  href={viewDetails.link}
  target="_self"
  class="w-full h-fit min-h-[80px] box-border flex flex-col sm:flex-row flex-nowrap justify-start sm:justify-between items-start gap-3 sm:gap-8 p-4 sm:p-5 rounded-2xl border border-gray-200 hover:border-gray-300 hover:shadow-xs cursor-pointer">
  <!--Mobile Header start-->
  <div
    class="sm:hidden flex flex-row flex-nowrap justify-between items-center self-stretch">
    <slot name="icon" />
    <slot name="badge" />
  </div>
  <h3
    class="sm:hidden text-lg leading-normal font-semibold text-black self-stretch">
    {bestPractice.name}
  </h3>
  <p class="sm:hidden text-sm font-normal leading-6 text-black self-stretch">
    {bestPractice.description}
  </p>
  <!--Mobile Header end-->
  <div
    class="hidden sm:flex flex-row flex-nowrap justify-start items-start gap-4">
    <slot name="icon" />
    <div class="flex flex-col flex-nowrap justify-center items-start gap-3">
      <h3 class="text-lg leading-normal font-semibold text-black self-stretch">
        {bestPractice.name}
      </h3>
      <p class="text-sm font-normal leading-6 text-gray-500 self-stretch">
        {bestPractice.description}
      </p>
    </div>
  </div>
  <div
    class="flex flex-col sm:flex-row flex-nowrap justify-center items-center gap-4 sm:gap-6 max-sm:self-stretch sm:justify-end">
    <div
      class="max-sm:hidden flex flex-col items-end justify-center min-w-[110px]">
      <slot name="badge" />
    </div>
  </div>
  <div
    class={cn(
      shadcnButtonVariants({
        variant: "secondary",
        size: "default",
        className: "sm:hidden cursor-pointer rounded-full self-stretch",
      }),
    )}>
    {viewDetails.text}
  </div>
</a>
