---
import { type BestPractice, BestPracticeTypes } from "data/ens-best-practices/types.ts";
import { cn } from "@/utils/tailwindClassConcatenation";
import { shadcnButtonVariants } from "../../ui/shadcnButtonStyles";
import { AppliesToBadges } from "@/components/atoms/badges/AppliesToBadges.tsx";
import EnscribeIcon from "@/components/atoms/icons/EnscribeIconLight.astro";
import { calcBestPracticeScore } from "data/ens-best-practices/utils.ts";
import { ScoreBar } from "@/components/atoms/ens-awards-score/bar.tsx";

export interface BestPracticeCardProps {
  bestPractice: BestPractice;
}

const { bestPractice }: BestPracticeCardProps = Astro.props;

const bestPracticeScore =
  bestPractice.type === BestPracticeTypes.App ? calcBestPracticeScore(bestPractice) : undefined;
---

<a
  href={`/ens-best-practices/${bestPractice.category.categorySlug}/${bestPractice.bestPracticeSlug}`}
  class="max-[800px]:w-full w-[calc(50%-10px)] max-w-[598px] h-fit min-h-[223px] box-border flex flex-col flex-nowrap
            justify-center items-start gap-4 p-5 sm:px-6 sm:pt-6 sm:pb-4 rounded-2xl border border-gray-200 hover:border-gray-300 hover:shadow-xs cursor-pointer">
  <div
    class="flex flex-col flex-nowrap justify-center items-start gap-5 self-stretch">
    <slot name="icon" />
    <div
      class="flex flex-col flex-nowrap justify-center items-start gap-3 sm:gap-2 self-stretch">
      <div
        class="w-fit flex flex-nowrap flex-row justify-start items-center gap-3">
        <h3 class="text-lg leading-normal font-semibold text-black">
          {bestPractice.name}
        </h3>
        <slot name="badge" />
      </div>
      <p
        class="text-muted-foreground text-sm sm:text-base leading-normal font-normal">
        {bestPractice.description}
      </p>
    </div>
  </div>
  <div
    class="flex flex-row justify-between sm:justify-start items-center sm:gap-2 max-sm:self-stretch">
    <p
      class="text-sm leading-normal font-medium sm:font-normal text-muted-foreground">
      Applies to
    </p>
    <AppliesToBadges bestPractice={bestPractice} />
  </div>
  <div class="bg-gray-200 h-[1px] self-stretch"></div>
  <div
    class="sm:min-h-[42px] flex flex-col-reverse sm:flex-row flex-nowrap justify-center sm:justify-between items-center
                max-sm:gap-3 self-stretch">
    <button
      class={cn(
        shadcnButtonVariants({
          variant: "secondary",
          size: "default",
          className: "cursor-pointer rounded-full max-sm:self-stretch",
        }),
      )}>
      View details
    </button>
    <div
      class={cn(
        "hidden sm:flex flex-col justify-center items-end gap-0",
        bestPractice.type === BestPracticeTypes.Protocol && "flex-row gap-2",
      )}>
      <p class="text-sm leading-normal font-normal text-gray-400">
        {
          bestPractice.type === BestPracticeTypes.App
            ? "App support"
            : "Powered by"
        }
      </p>
      {
        bestPractice.type === BestPracticeTypes.App ? (
          bestPracticeScore === undefined ? (
            <p class="text-sm leading-normal font-medium text-black">Pending</p>
          ) : (
            <ScoreBar score={bestPracticeScore} mobileAdaptive={false} />
          )
        ) : (
          <EnscribeIcon />
        )
      }
    </div>
  </div>
</a>
