---
import { cn } from "../../../lib/utils";
import { shadcnButtonVariants } from "../../shadcn/shadcnButtonStyles";
export interface CategoryCardProps {
  name: string;
  description: string;
  viewBestPracticesLink: string;
  comingSoon?: boolean;
  numberOfBestPractices?: number;
}

const {
  name,
  description,
  viewBestPracticesLink,
  comingSoon,
  numberOfBestPractices,
}: CategoryCardProps = Astro.props;
---

<div
  class="max-md:w-fit w-[calc(50%-10px)] max-w-[598px] h-fit min-h-[223px] box-border flex flex-col flex-nowrap
            justify-center items-start gap-3 sm:gap-4 p-4 sm:px-6 sm:pt-6 pb-4 rounded-2xl border border-gray-200">
  <div
    class="flex flex-col flex-nowrap justify-center items-start gap-3 sm:gap-2 self-stretch">
    <div class="flex flex-row flex-nowrap justify-start items-center gap-3">
      <a
        href={viewBestPracticesLink}
        class="text-lg leading-normal font-semibold text-black">{name}</a
      >
      {
        comingSoon && (
          <span class="w-fit h-fit rounded-md bg-black py-[2px] px-2 text-xs leading-normal font-semibold text-white">
            Coming soon
          </span>
        )
      }
    </div>
    <p
      class="text-muted-foreground text-sm sm:text-base leading-normal font-normal">
      {description}
    </p>
  </div>
  <div class="bg-gray-200 h-[1px] self-stretch"></div>
  <div
    class="flex flex-col-reverse sm:flex-row flex-nowrap justify-center max-sm:gap-3 sm:justify-between items-center
                sm:items-start self-stretch">
    <a
      href={viewBestPracticesLink}
      aria-disabled={comingSoon || false}
      class={cn(
        shadcnButtonVariants({
          variant: "secondary",
          size: "default",
          className: "cursor-pointer rounded-full max-sm:self-stretch",
        }),
      )}>
      View best practices
    </a>
    <div
      class={cn(
        "flex flex-row sm:flex-col flex-nowrap justify-between sm:justify-center items-center sm:items-start sm:gap-0 max-sm:self-stretch",
        comingSoon ? "hidden" : "",
      )}>
      <p class="text-muted-foreground text-sm leading-normal font-medium">
        Best practices
      </p>
      <p class="text-sm leading-normal font-semibold">
        {numberOfBestPractices}
      </p>
    </div>
  </div>
</div>
