---
import { getAppSupportColor } from "../../../utils/styles";
import { cn } from "../../../utils/tailwindClassConcatenation";
import { shadcnButtonVariants } from "../../ui/shadcnButtonStyles";
import ChevronRightIcon from "../icons/ChevronRightIcon.astro";
export interface LeaderboardCardProps {
  name: string;
  viewDetailsLink: string;
  viewDetailsText?: string;
  ensAwardsScore: number;
  type?: string;
}

const { name, viewDetailsLink, viewDetailsText, ensAwardsScore, type }: LeaderboardCardProps =
  Astro.props;
---

<a
  href={viewDetailsLink}
  class="w-full h-fit box-border flex flex-col sm:flex-row flex-nowrap justify-start sm:justify-between items-start sm:items-center gap-3 p-4 sm:p-6 rounded-2xl border border-gray-200 hover:border-gray-300 hover:shadow-xs cursor-pointer">
  <!--Desktop Header-->
  <div
    class="w-fit hidden sm:flex flex-nowrap flex-row justify-start items-center gap-5">
    <slot name="placeIcon" />
    <div
      class="w-fit flex flex-nowrap flex-row justify-start items-center gap-3">
      <slot name="rankedEntityIcon" />
      <h3 class="text-lg leading-normal font-semibold text-black">{name}</h3>
      <slot name="badge" />
    </div>
  </div>
  <!--Mobile Header-->
  <div
    class="sm:hidden flex flex-col flex-nowrap justify-start items-start gap-4 self-stretch">
    <div
      class="w-full h-fit flex flex-row flex-nowrap justify-between items-center">
      <slot name="rankedEntityIcon" />
      <slot name="placeIcon" />
    </div>
    <h3 class="text-lg leading-normal font-semibold text-black">{name}</h3>
  </div>
  <div
    class="flex flex-nowrap flex-col sm:flex-row justify-start sm:justify-end items-center gap-2 sm:gap-10 max-sm:self-stretch">
    {
      type && (
        <div class="min-md:min-w-[120px] flex flex-row sm:flex-col flex-nowrap justify-between sm:justify-center items-start gap-0 max-sm:self-stretch">
          <p class="text-muted-foreground text-sm leading-normal font-normal">
            Type
          </p>
          <p class="text-sm leading-normal font-medium sm:font-semibold text-accent-foreground">
            {type}
          </p>
        </div>
      )
    }
    <div
      class="min-md:min-w-[120px] flex flex-row sm:flex-col flex-nowrap justify-between sm:justify-center items-start gap-0 max-sm:self-stretch">
      <p class="text-muted-foreground text-sm leading-normal font-normal">
        ENSAwards score
      </p>
      <div
        class="flex flex-row flex-nowrap justify-start items-center gap-2 self-stretch">
        <div
          class="max-sm:hidden flex relative w-20 h-[7px] rounded-[20px] bg-gray-200 z-0">
          <div
            class={cn(
              "absolute h-full self-stretch rounded-[20px] z-10",
              `bg-${getAppSupportColor(ensAwardsScore)}`,
            )}
            style={{ width: `calc(${ensAwardsScore}%)` }}>
          </div>
        </div>
        <p
          class={cn(
            "text-sm leading-normal font-medium sm:font-semibold",
            `text-${getAppSupportColor(ensAwardsScore)}`,
          )}>
          {ensAwardsScore}%
        </p>
      </div>
    </div>
    <span class="hidden sm:flex">
      <ChevronRightIcon className="w-10 h-10 hover:opacity-60" />
    </span>
    <button
      class={cn(
        shadcnButtonVariants({
          variant: "secondary",
          size: "default",
          className:
            "sm:hidden cursor-pointer rounded-full max-sm:self-stretch",
        }),
      )}>
      {viewDetailsText || "Benchmarks"}
    </button>
  </div>
</a>
