---
import { Image } from "astro:assets";
import AboutImage from "../assets/awardImage.svg";
import SubpageHero from "../components/molecules/SubpageHero.astro";
import Layout from "../layouts/Layout.astro";

const descriptionStyles = "text-base leading-7 font-normal text-gray-500 self-stretch";
---

<Layout pageMetadata={{
  title: "ENSAwards: About Us",
  description: "ENSAwards benchmarks ENS integrations for apps and DAOs. Built by NameHash Labs to guide developers and showcase top integrations.",
  url: "https://ensawards.org/about"
}}>
  <SubpageHero header="About" />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-center items-center gap-10 p-5 sm:py-[60px] sm:px-8">
    <div
      class="w-full max-w-[1216px] box-border h-fit flex flex-col min-[900px]:flex-row flex-nowrap justify-start sm:justify-center items-center sm:items-start gap-10">
      <Image
        alt="about ENSAwards"
        src={AboutImage}
        quality={100}
        class="min-[900px]:hidden block"
      />
      <div
        class="w-full min-[900px]:w-1/2 h-fit flex flex-nowrap flex-col justify-start items-start gap-3">
        <h3 class="text-2xl font-semibold text-black mt-8">
          What is the ENSAwards site about?
        </h3>
        <p class={descriptionStyles}>
          ENSAwards is a celebration of excellence in ENS integrations.
        </p>

        <p class={descriptionStyles}>
          For a perfect ENS integration there’s many ENSIPs, UX best practices,
          and technical details to consider. New ENS capabilities and standards
          emerge frequently, too.
        </p>
        <p class={descriptionStyles}>
          ENSAwards is currently an “Alpha” containing only initial “teaser”
          content. We will be working to develop a taxonomy of test case
          benchmarks for app developers to consider when integrating with ENS.
        </p>
        <p class={descriptionStyles}>
          Looking to the future, we hope ENSAwards can act as a guide for
          developers seeking to build the best possible ENS integration into
          their apps. We also hope it serves as a fun and exciting showcase of
          epic ENS integrations!
        </p>
        <h3 class="text-2xl font-semibold text-black mt-8">
          Who created ENSAwards?
        </h3>
        <p class={descriptionStyles}>
          ENSAwards is a product of
          <a
            href="https://namehashlabs.org/"
            target="_blank"
            class="leading-normal text-black underline underline-offset-[25%] decoration-black/40 hover:decoration-black transition-all duration-200"
            >NameHash Labs</a
          >. App benchmarks and scoring is based on our assessments and is not
          officially endorsed by the ENS DAO.
        </p>
        <h3 class="text-2xl font-semibold text-black mt-8">
          What is the prize for a top ranking on ENSAwards?
        </h3>
        <p class={descriptionStyles}>
          🏆 Epic clout! 🏆 or perhaps some
          <a
            href="/ens-referral-awards"
            class="leading-normal text-black underline underline-offset-[25%] decoration-black/40 hover:decoration-black transition-all duration-200"
            >ENS Referral Awards</a
          >
          if you're building an app that contributes to registrations or renewals
          of .eth names.
        </p>
      </div>
      <Image
        alt="about ENSAwards"
        src={AboutImage}
        quality={100}
        class="hidden min-[900px]:block max-w-1/2"
      />
    </div>
  </section>
</Layout>
