---
import referrerFinalScoreMultiplierGraph from "../assets/referrer-final-score-multiplier.png";
import SubpageHero from "../components/molecules/SubpageHero.astro";
import Layout from "../layouts/Layout.astro";
import { cn } from "../utils/tailwindClassConcatenation";

const h2Styles = "text-4xl leading-normal font-semibold text-black scroll-mt-24";
const h3Styles = "text-2xl leading-normal font-semibold text-black scroll-mt-24";
const textStyles = "text-base leading-7 font-normal text-muted-foreground";
const linkStyles =
  "leading-normal text-black underline underline-offset-[25%] decoration-black/40 hover:decoration-black transition-all duration-200";
const termStyles =
  "text-black underline decoration-dotted decoration-gray-400 underline-offset-2 hover:decoration-gray-600 transition-all duration-200";
---

<Layout
  pageMetadata={{
    title: "ENS Holiday Awards - Program Rules",
    description:
      "Trial incentive framework for a broader ENS Referral Awards Program.",
    url: "https://ensawards.org/ens-holiday-awards-rules",
    ogImage: "/holiday-referral-awards_og_image.png",
    twitterImage: "/holiday-referral-awards_twitter_og_image.png",
  }}>
  <SubpageHero
    header="ENS Holiday Awards - Program Rules"
    description="Trial incentive framework for a broader ENS Referral Awards Program."
    breadcrumbs={["ENS Holiday Awards"]}
  />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px] sm:px-8">
    <div
      class="w-full max-w-[660px] box-border h-fit flex flex-col flex-nowrap justify-start items-start gap-5 [&>p]:mb-2 [&>p]:pl-4 [&>h2]:mt-8 [&>h2]:mb-1 [&>h3]:mt-5 [&>h3]:mb-0.5 [&>ul]:mb-2 [&>ul]:pl-4 [&>ol]:mb-2 [&>ol]:pl-4 [&>div]:pl-4">
      <h2 class={h2Styles}>Introduction</h2>
      <p class={textStyles}>
        &quot;ENS Holiday Awards&quot; is a trial incentive framework designed
        to issue awards in $ENS for referred .eth name registrations and
        renewals.
      </p>
      <p class={textStyles}>
        This trial is proposed to run for the duration of December 1-31, 2025
        with a fixed award pool of $ENS equivalent to $10,000 USD for Qualifying
        Referrers.
      </p>
      <p class={textStyles}>
        This trial is planned and organized by&nbsp;<a
          target="_blank"
          href="https://namehashlabs.org/"
          class={linkStyles}>NameHash Labs</a
        >&nbsp;as part of our efforts to advance a broader ENS Referral Program.
        These efforts are part of our&nbsp;<a
          target="_blank"
          href="https://discuss.ens.domains/t/spp2-namehash-labs-application/20502/2#p-56809-h-414-ensv2-referral-programs-technical-deployment-guaranteed-50000-funding-6"
          class={linkStyles}>SPP2 deliverables</a
        >&nbsp;to the ENS DAO, which include our commitment to ultimately fund
        $50,000 USD in ENS Referral Program awards throughout the duration of
        SPP2.
      </p>
      <p class={textStyles}>
        The ENS Holiday Awards are designed as a time and budget constrained
        trial. This gives an opportunity to test execution and identify
        opportunities for improvement before follow-up ENS Referral Award
        Programs are introduced.
      </p>

      <h2 class={h2Styles}>Overview</h2>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2 text-black")}>
          <b>Program Period:</b>
          <span class={textStyles}>The duration of December 2025.</span>
        </li>
        <li class={cn(textStyles, "pl-2 text-black")}>
          <b>Budget:</b>
          <span class={textStyles}>$10,000 USD (funded by NameHash Labs).</span>
        </li>
        <li class={cn(textStyles, "pl-2 text-black")}>
          <b>Awards:</b>
          <span class={textStyles}
            >Distributed in $ENS (converted from USDC at program conclusion).</span
          >
        </li>
        <li class={cn(textStyles, "pl-2 text-black")}>
          <b>Participation:</b>
          <span class={textStyles}
            >Permissionless (anyone can participate as a referrer).</span
          >
        </li>
        <li class={cn(textStyles, "pl-2 text-black")}>
          <b>Implementation:</b>
          <span class={textStyles}>Led by NameHash Labs.</span>
        </li>
      </ul>

      <h2 class={h2Styles}>Referral Incentives</h2>
      <p class={textStyles}>
        $10,000 USD in $ENS distributed proportionally to each <a
          href="#qualifying-referrer"
          class={termStyles}>Qualifying Referrer</a
        >
        based on their <a href="#referrer-award-pool-share" class={termStyles}
          >Referrer Award Pool Share</a
        >.
      </p>

      <h2 class={h2Styles}>Referral Award Distributions in $ENS</h2>
      <p class={textStyles}>
        This program explores multiple key questions, including: What if
        referral awards were distributed in $ENS?
      </p>
      <p class={textStyles}>
        This award mechanism may provide strategic benefits to the ENS DAO,
        including:
      </p>
      <ol class="list-decimal list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          <span class="text-black"><b>Preserving ENS DAO Revenue:</b></span> Future
          referral awards in $ENS tokens could be possible without dilution of ENS
          DAO revenue (or with reduced dilution). This has benefits vs. exclusively
          awarding as revenue sharing paid in ETH or USDC.
        </li>
        <li class={cn(textStyles, "pl-2")}>
          <span class="text-black"
            ><b>Expanding ENS DAO Governance Participation:</b></span
          > Awarding ecosystem contributors in $ENS can boost engagement in DAO governance
          from parties who are invested in the success of ENS.
        </li>
      </ol>

      <h2 class={h2Styles}>Program Rules</h2>

      <h3 class={h3Styles} id="program-duration">
        &quot;Program Duration&quot;
      </h3>
      <p class={textStyles}>
        The <a href="#program-duration" class={termStyles}>Program Duration</a> is
        the duration of December 2025:
      </p>
      <p class={textStyles}>
        Dec 1, 2025 00:00:00 UTC to Dec 31, 23:59:59 UTC.
      </p>

      <h3 class={h3Styles} id="qualifying-referral">
        &quot;Qualifying Referral&quot; and &quot;Referrer&quot;
      </h3>
      <p class={textStyles}>
        To be a <a href="#qualifying-referral" class={termStyles}
          >Qualifying Referral</a
        >, registrations / renewals must satisfy all of the following
        conditions:
      </p>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          Registration / renewal of a direct subname of &quot;.eth&quot; made
          through one of the following contracts on Ethereum Mainnet within the <a
            href="#program-duration"
            class={termStyles}>Program Duration</a
          >:
          <ul class="list-disc list-outside ml-5 space-y-2 mt-2">
            <li class={cn(textStyles, "pl-2")}>
              For registrations and renewals: <a
                target="_blank"
                href="https://etherscan.io/address/0x59E16fcCd424Cc24e280Be16E11Bcd56fb0CE547"
                class={linkStyles}>UnwrappedEthRegistrarController</a
              > activated by the ENS DAO via <a
                target="_blank"
                href="https://docs.ens.domains/dao/proposals/6.16/"
                class={linkStyles}>EP6.16.</a
              >
            </li>
            <li class={cn(textStyles, "pl-2")}>
              For renewals: <a
                target="_blank"
                href="https://etherscan.io/address/0xf55575Bde5953ee4272d5CE7cdD924c74d8fA81A"
                class={linkStyles}>UniversalRegistrarRenewalWithReferrer</a
              > developed by NameHash Labs in coordination with the ENS Labs team
              to provide a recommended referred-renewal pathway for wrapped direct
              subnames of .eth.
            </li>
          </ul>
        </li>
        <li class={cn(textStyles, "pl-2")}>
          The &quot;referrer&quot; parameter passed to the register / renew call
          is a 32-byte value, while an Ethereum address is a 20-byte value.
          Therefore, to qualify for this program, the &quot;referrer&quot;
          parameter must match the following format:
          <ul class="list-disc list-outside ml-5 space-y-2 mt-2">
            <li class={cn(textStyles, "pl-2")}>First 12-bytes: all zeros.</li>
            <li class={cn(textStyles, "pl-2")}>
              Last 20-bytes: Ethereum mainnet address identifying the
              <a href="#qualifying-referral" class={termStyles}>Referrer</a> and
              where any <a href="#award-distribution" class={termStyles}
                >Award Distributions</a
              > the
              <a href="#qualifying-referral" class={termStyles}>Referrer</a> may
              earn will be deposited.
            </li>
          </ul>
        </li>
      </ul>
      <p class={textStyles}>
        Resources and additional instructions for the technical implementation
        of referrals can be found in the <a
          href="https://github.com/namehash/ens-referrals"
          class={linkStyles}
          target="_blank">ens-referrals</a
        > GitHub Repo.
      </p>
      <p class={textStyles}>To reduce complexity with this initial trial:</p>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          No restrictions will be made for &quot;self-referrals&quot;. However
          please note the related definition of <a
            href="#qualifying-referrer"
            class={termStyles}>Qualifying Referrer</a
          > below which is expected to generally discourage self-referrals.
        </li>
        <li class={cn(textStyles, "pl-2")}>
          <a href="#qualifying-referral" class={termStyles}>Referrers</a> cannot
          customize where any <a href="#award-distribution" class={termStyles}
            >Award Distributions</a
          > they may earn will be deposited. The referrer's address and the address
          where any
          <a href="#award-distribution" class={termStyles}
            >Award Distributions</a
          > they may earn will be deposited are one and the same.
        </li>
      </ul>

      <h3 class={h3Styles} id="qualifying-referral-year">
        &quot;Qualifying Referral Year&quot;
      </h3>
      <p class={textStyles}>
        Each <a href="#qualifying-referral" class={termStyles}
          >Qualifying Referral</a
        > is measured in <a href="#qualifying-referral-year" class={termStyles}
          >Qualifying Referral Years</a
        >:
      </p>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          For registrations: equal to the number of years the name was
          registered for.
        </li>
        <li class={cn(textStyles, "pl-2")}>
          For renewals: equal to the number of years the name was renewed for.
        </li>
      </ul>
      <p class={textStyles}>Here we define a year as 31,556,952 seconds.</p>
      <p class={textStyles}>
        (60 seconds per minute * 60 minutes per hour * 24 hours per day *
        365.2425 days on average per year)
      </p>
      <p class={textStyles}>
        <a href="#qualifying-referral-year" class={termStyles}
          >Qualifying Referral Years</a
        > support measurement in fractional units. Ex: A renewal of 6 months would
        represent 0.5 <a href="#qualifying-referral-year" class={termStyles}
          >Qualifying Referral Years</a
        >. A registration for 2 years would represent 2 <a
          href="#qualifying-referral-year"
          class={termStyles}>Qualifying Referral Years</a
        >.
      </p>

      <h3 class={h3Styles} id="referrer-point">&quot;Referrer Point&quot;</h3>
      <p class={textStyles}>
        One <a href="#referrer-point" class={termStyles}>Referrer Point</a> is awarded
        for each <a href="#qualifying-referral-year" class={termStyles}
          >Qualifying Referral Year</a
        >.
      </p>
      <p class={textStyles}>
        <a href="#referrer-point" class={termStyles}>Referrer Points</a> support
        measurement in fractional units. Ex: 0.5 <a
          href="#qualifying-referral-year"
          class={termStyles}>Qualifying Referral Years</a
        > award 0.5 <a href="#referrer-point" class={termStyles}
          >Referrer Points</a
        >.
      </p>
      <p class={textStyles}>
        To reduce complexity with this initial trial, no weight adjustments will
        be made for short (3-4 character) names or registrations made with a
        temporary premium price.
      </p>

      <h3 class={h3Styles} id="referrer-score">&quot;Referrer Score&quot;</h3>
      <p class={textStyles}>
        A <a href="#referrer-score" class={termStyles}>Referrer Score</a> is the
        sum of <a href="#referrer-point" class={termStyles}>Referrer Points</a> awarded
        to a
        <a href="#qualifying-referral" class={termStyles}>Referrer</a>.
      </p>

      <h3 class={h3Styles} id="participating-referrer">
        &quot;Participating Referrer&quot;
      </h3>
      <p class={textStyles}>
        A <a href="#participating-referrer" class={termStyles}
          >Participating Referrer</a
        > is a <a href="#qualifying-referral" class={termStyles}>Referrer</a> with
        a <a href="#referrer-score" class={termStyles}>Referrer Score</a>
        greater than zero.
      </p>
      <p class={textStyles}>
        Anyone has the potential to become a <a
          href="#participating-referrer"
          class={termStyles}>Participating Referrer</a
        >. The program is permissionless.
      </p>

      <h3 class={h3Styles} id="referrer-rank">&quot;Referrer Rank&quot;</h3>
      <p class={textStyles}>
        A <a href="#referrer-rank" class={termStyles}>Referrer Rank</a> is the ranking
        of a <a href="#participating-referrer" class={termStyles}
          >Participating Referrer</a
        >
        relative to other <a href="#participating-referrer" class={termStyles}
          >Participating Referrers</a
        > according to the following rules:
      </p>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          The highest <a href="#referrer-rank" class={termStyles}
            >Referrer Rank</a
          > is 1.
        </li>
        <li class={cn(textStyles, "pl-2")}>
          Each <a href="#participating-referrer" class={termStyles}
            >Participating Referrer</a
          > is guaranteed to have a distinct <a
            href="#referrer-rank"
            class={termStyles}>Referrer Rank</a
          >
          based on the following sorting rule to compare any pair of <a
            href="#participating-referrer"
            class={termStyles}>Participating Referrers</a
          >:
          <ul class="list-disc list-outside ml-5 space-y-2 mt-2">
            <li class={cn(textStyles, "pl-2")}>
              If the <a href="#participating-referrer" class={termStyles}
                >Participating Referrers</a
              > have different <a href="#referrer-score" class={termStyles}
                >Referrer Scores</a
              >, the <a href="#participating-referrer" class={termStyles}
                >Participating Referrer</a
              > with the higher <a href="#referrer-score" class={termStyles}
                >Referrer Score</a
              > wins.
            </li>
            <li class={cn(textStyles, "pl-2")}>
              Else, the <a href="#participating-referrer" class={termStyles}
                >Participating Referrer</a
              > with the &quot;higher&quot; fully-lowercase address using lexicographic
              comparison of ASCII hex strings wins the tie.
            </li>
          </ul>
        </li>
      </ul>

      <h3 class={h3Styles} id="max-qualifying-referrers">
        &quot;Max Qualifying Referrers&quot;
      </h3>
      <p class={textStyles}>
        For ENS Holiday Awards the <a
          href="#max-qualifying-referrers"
          class={termStyles}>Max Qualifying Referrers</a
        > is 10.
      </p>
      <p class={textStyles}>This mechanic is motivated by goals including:</p>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          Encourage more competition. There's a meaningful difference to
          outcomes for ranking in the top 10 vs rank 11+.
        </li>
        <li class={cn(textStyles, "pl-2")}>
          Gather information on how such a rule impacts referrer behaviour.
        </li>
        <li class={cn(textStyles, "pl-2")}>
          Constrain the operational complexity of the <a
            href="#award-distribution"
            class={termStyles}>Award Distribution</a
          >.
        </li>
      </ul>

      <h3 class={h3Styles} id="qualifying-referrer">
        &quot;Qualifying Referrer&quot;
      </h3>
      <p class={textStyles}>
        A <a href="#qualifying-referrer" class={termStyles}
          >Qualifying Referrer</a
        > is a <a href="#participating-referrer" class={termStyles}
          >Participating Referrer</a
        > with a
        <a href="#referrer-rank" class={termStyles}>Referrer Rank</a> within the
        <a href="#max-qualifying-referrers" class={termStyles}
          >Max Qualifying Referrers</a
        >.
      </p>
      <p class={textStyles}>
        Anyone has the potential to become a <a
          href="#qualifying-referrer"
          class={termStyles}>Qualifying Referrer</a
        >. The program is permissionless.
      </p>

      <h3 class={h3Styles} id="referrer-final-score-boost">
        &quot;Referrer Final Score Boost&quot;
      </h3>
      <p class={textStyles}>
        A <a href="#referrer-final-score-boost" class={termStyles}
          >Referrer Final Score Boost</a
        > is calculated for each
        <a href="#participating-referrer" class={termStyles}
          >Participating Referrer</a
        > as follows:
      </p>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          If the <a href="#participating-referrer" class={termStyles}
            >Participating Referrer</a
          > is a <a href="#qualifying-referrer" class={termStyles}
            >Qualifying Referrer</a
          >:
          <div class="mt-2 p-4 bg-gray-50 rounded-lg border border-gray-200">
            <div
              class="flex items-center justify-center gap-3 text-base flex-wrap">
              <span class={textStyles}
                ><a href="#referrer-final-score-boost" class={termStyles}
                  >Referrer Final Score Boost</a
                > =</span
              >
              <span class={textStyles}>1 −</span>
              <div class="inline-flex flex-col items-center formula-fraction">
                <div class={cn(textStyles, "text-center px-2 pb-1")}>
                  <a href="#referrer-rank" class={termStyles}>Referrer Rank</a> −
                  1
                </div>
                <div class="w-full h-[1px] bg-black"></div>
                <div class={cn(textStyles, "text-center px-2 pt-1")}>
                  <a href="#max-qualifying-referrers" class={termStyles}
                    >Max Qualifying Referrers</a
                  > − 1
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          Else:
          <div class="mt-2 p-4 bg-gray-50 rounded-lg border border-gray-200">
            <div
              class="flex items-center justify-center gap-3 text-base flex-wrap">
              <span class={textStyles}
                ><a href="#referrer-final-score-boost" class={termStyles}
                  >Referrer Final Score Boost</a
                > = 0</span
              >
            </div>
          </div>
        </li>
      </ul>
      <p class={textStyles}>This mechanism is motivated by goals including:</p>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          Encourage more competition. There's a meaningful difference to being a <a
            href="#qualifying-referrer"
            class={termStyles}>Qualifying Referrer</a
          > with rank N vs. rank N+1.
        </li>
        <li class={cn(textStyles, "pl-2")}>
          Gather information on how such a rule impacts referrer behaviour.
        </li>
      </ul>

      <h3 class={h3Styles} id="referrer-final-score-multiplier">
        &quot;Referrer Final Score Multiplier&quot;
      </h3>
      <p class={textStyles}>
        A <a href="#referrer-final-score-multiplier" class={termStyles}
          >Referrer Final Score Multiplier</a
        > is calculated for each
        <a href="#participating-referrer" class={termStyles}
          >Participating Referrer</a
        > as follows:
      </p>
      <div class="p-4 bg-gray-50 rounded-lg border border-gray-200 ml-4">
        <div class="flex items-center justify-center gap-3 text-base flex-wrap">
          <span class={textStyles}
            ><a href="#referrer-final-score-multiplier" class={termStyles}
              >Referrer Final Score Multiplier</a
            > =</span
          >
          <span class={textStyles}
            >1 + <a href="#referrer-final-score-boost" class={termStyles}
              >Referrer Final Score Boost</a
            ></span
          >
        </div>
      </div>
      <p class={cn(textStyles, "mt-6 mb-0 pl-4")}>Example calculations:</p>
      <div class="w-full overflow-x-auto mt-4">
        <table class="w-full border-collapse text-black text-base">
          <thead>
            <tr class="bg-white">
              <th class="border border-black px-4 py-3 text-left font-bold"
                ><a href="#referrer-rank" class={termStyles}>Referrer Rank</a
                ></th
              >
              <th class="border border-black px-4 py-3 text-left font-bold"
                ><a href="#qualifying-referrer" class={termStyles}
                  >Qualified Referrer?</a
                ></th
              >
              <th class="border border-black px-4 py-3 text-left font-bold"
                ><a href="#referrer-final-score-boost" class={termStyles}
                  >Referrer Final Score Boost</a
                ></th
              >
              <th class="border border-black px-4 py-3 text-left font-bold"
                ><a href="#referrer-final-score-multiplier" class={termStyles}
                  >Referrer Final Score Multiplier</a
                ></th
              >
            </tr>
          </thead>
          <tbody>
            <tr class="bg-green-100">
              <td class="border border-black px-4 py-2 text-right">1</td>
              <td class="border border-black px-4 py-2 text-center">TRUE</td>
              <td class="border border-black px-4 py-2 text-right">100.00%</td>
              <td class="border border-black px-4 py-2 text-right">2.00</td>
            </tr>
            <tr class="bg-green-100">
              <td class="border border-black px-4 py-2 text-right">2</td>
              <td class="border border-black px-4 py-2 text-center">TRUE</td>
              <td class="border border-black px-4 py-2 text-right">88.89%</td>
              <td class="border border-black px-4 py-2 text-right">1.89</td>
            </tr>
            <tr class="bg-green-100">
              <td class="border border-black px-4 py-2 text-right">3</td>
              <td class="border border-black px-4 py-2 text-center">TRUE</td>
              <td class="border border-black px-4 py-2 text-right">77.78%</td>
              <td class="border border-black px-4 py-2 text-right">1.78</td>
            </tr>
            <tr class="bg-green-100">
              <td class="border border-black px-4 py-2 text-right">4</td>
              <td class="border border-black px-4 py-2 text-center">TRUE</td>
              <td class="border border-black px-4 py-2 text-right">66.67%</td>
              <td class="border border-black px-4 py-2 text-right">1.67</td>
            </tr>
            <tr class="bg-green-100">
              <td class="border border-black px-4 py-2 text-right">5</td>
              <td class="border border-black px-4 py-2 text-center">TRUE</td>
              <td class="border border-black px-4 py-2 text-right">55.56%</td>
              <td class="border border-black px-4 py-2 text-right">1.56</td>
            </tr>
            <tr class="bg-green-100">
              <td class="border border-black px-4 py-2 text-right">6</td>
              <td class="border border-black px-4 py-2 text-center">TRUE</td>
              <td class="border border-black px-4 py-2 text-right">44.44%</td>
              <td class="border border-black px-4 py-2 text-right">1.44</td>
            </tr>
            <tr class="bg-green-100">
              <td class="border border-black px-4 py-2 text-right">7</td>
              <td class="border border-black px-4 py-2 text-center">TRUE</td>
              <td class="border border-black px-4 py-2 text-right">33.33%</td>
              <td class="border border-black px-4 py-2 text-right">1.33</td>
            </tr>
            <tr class="bg-green-100">
              <td class="border border-black px-4 py-2 text-right">8</td>
              <td class="border border-black px-4 py-2 text-center">TRUE</td>
              <td class="border border-black px-4 py-2 text-right">22.22%</td>
              <td class="border border-black px-4 py-2 text-right">1.22</td>
            </tr>
            <tr class="bg-green-100">
              <td class="border border-black px-4 py-2 text-right">9</td>
              <td class="border border-black px-4 py-2 text-center">TRUE</td>
              <td class="border border-black px-4 py-2 text-right">11.11%</td>
              <td class="border border-black px-4 py-2 text-right">1.11</td>
            </tr>
            <tr class="bg-green-100">
              <td class="border border-black px-4 py-2 text-right">10</td>
              <td class="border border-black px-4 py-2 text-center">TRUE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">11</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">12</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">13</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">14</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">15</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">16</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">17</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">18</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">19</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">20</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">21</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">22</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">23</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">24</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
            <tr class="bg-gray-200">
              <td class="border border-black px-4 py-2 text-right">25</td>
              <td class="border border-black px-4 py-2 text-center">FALSE</td>
              <td class="border border-black px-4 py-2 text-right">0.00%</td>
              <td class="border border-black px-4 py-2 text-right">1.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class={cn(textStyles, "mt-6 mb-0 pl-4")}>
        Example graph of <a
          href="#referrer-final-score-multiplier"
          class={termStyles}>Referrer Final Score Multiplier</a
        > vs. <a href="#referrer-rank" class={termStyles}>Referrer Rank</a>:
      </p>
      <img
        src={referrerFinalScoreMultiplierGraph.src}
        alt="Referrer Final Score Multiplier Graph"
        class="w-full max-w-[660px] mx-auto pl-4 -mt-2"
      />
      <p class={textStyles}>
        <a
          href="https://docs.google.com/spreadsheets/d/1Dt0PWhcCmzVY2cFZlMWMewdINtRHP43PYCiF-0iggWI/edit?usp=sharing"
          class={linkStyles}
          target="_blank">View example calculations in spreadsheet</a
        >.
      </p>
      <h3 class={h3Styles} id="referrer-final-score">
        &quot;Referrer Final Score&quot;
      </h3>
      <p class={textStyles}>
        A <a href="#referrer-final-score" class={termStyles}
          >Referrer Final Score</a
        > is calculated for each <a
          href="#participating-referrer"
          class={termStyles}>Participating Referrer</a
        > as follows:
      </p>
      <div class="p-4 bg-gray-50 rounded-lg border border-gray-200 ml-8">
        <div class="flex items-center justify-center gap-3 text-base flex-wrap">
          <span class={textStyles}
            ><a href="#referrer-final-score" class={termStyles}
              >Referrer Final Score</a
            > =</span
          >
          <span class={textStyles}
            ><a href="#referrer-score" class={termStyles}>Referrer Score</a> × <a
              href="#referrer-final-score-multiplier"
              class={termStyles}>Referrer Final Score Multiplier</a
            ></span
          >
        </div>
      </div>

      <h3 class={h3Styles} id="grand-total-qualified-referrer-final-score">
        &quot;Grand Total Qualified Referrer Final Score&quot;
      </h3>
      <p class={textStyles}>
        The <a
          href="#grand-total-qualified-referrer-final-score"
          class={termStyles}>Grand Total Qualified Referrer Final Score</a
        > is the sum of <a href="#referrer-final-score" class={termStyles}
          >Referrer Final Score</a
        > values for all <a href="#qualifying-referrer" class={termStyles}
          >Qualified Referrers</a
        >.
      </p>

      <h3 class={h3Styles} id="referrer-award-pool-share">
        &quot;Referrer Award Pool Share&quot;
      </h3>
      <p class={textStyles}>
        A <a href="#referrer-award-pool-share" class={termStyles}
          >Referrer Award Pool Share</a
        > is calculated for each
        <a href="#participating-referrer" class={termStyles}
          >Participating Referrer</a
        > as follows:
      </p>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          If the <a href="#participating-referrer" class={termStyles}
            >Participating Referrer</a
          > is not a <a href="#qualifying-referrer" class={termStyles}
            >Qualified Referrer</a
          >:
          <div class="mt-2 p-4 bg-gray-50 rounded-lg border border-gray-200">
            <div
              class="flex items-center justify-start gap-3 text-base flex-wrap">
              <span class={textStyles}
                ><a href="#referrer-award-pool-share" class={termStyles}
                  >Referrer Award Pool Share</a
                > = 0</span
              >
            </div>
          </div>
        </li>
      </ul>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          Else:
          <div class="mt-2 p-4 bg-gray-50 rounded-lg border border-gray-200">
            <div
              class="flex items-center justify-start gap-3 text-base flex-wrap">
              <span class={textStyles}
                ><a href="#referrer-award-pool-share" class={termStyles}
                  >Referrer Award Pool Share</a
                > =</span
              >
              <div class="inline-flex flex-col items-center formula-fraction">
                <div class={cn(textStyles, "text-center px-2 pb-1")}>
                  <a href="#referrer-final-score" class={termStyles}
                    >Referrer Final Score</a
                  >
                </div>
                <div class="w-full h-[1px] bg-black"></div>
                <div class={cn(textStyles, "text-center px-2 pt-1")}>
                  <a
                    href="#grand-total-qualified-referrer-final-score"
                    class={termStyles}
                    >Grand Total Qualified Referrer Final Score</a
                  >
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <h3 class={h3Styles} id="total-award-budget">
        &quot;Total Award Budget&quot; and &quot;Total Award Pool&quot;
      </h3>
      <p class={textStyles}>
        The <a href="#total-award-budget" class={termStyles}
          >Total Award Budget</a
        > is $10,000 USD. This will be converted into the <a
          href="#total-award-budget"
          class={termStyles}>Total Award Pool</a
        > measured in $ENS tokens. NameHash Labs will execute this USDC to $ENS conversion
        in early January at a specific time and method of their choosing.
      </p>
      <p class={textStyles}>
        The <a href="#total-award-budget" class={termStyles}
          >Total Award Budget</a
        > has been defined in USD terms for ease of familiarity.
      </p>
      <p class={textStyles}>
        The <a href="#total-award-budget" class={termStyles}>Total Award Pool</a
        > is what will ultimately be distributed to <a
          href="#qualifying-referrer"
          class={termStyles}>Qualifying Referrers</a
        > as awards.
      </p>

      <h3 class={h3Styles} id="award-pool-distributions">
        &quot;Award Pool Distributions&quot;
      </h3>
      <p class={textStyles}>
        After the <a href="#program-duration" class={termStyles}
          >Program Duration</a
        > ends, each <a href="#qualifying-referrer" class={termStyles}
          >Qualifying Referrer</a
        > will receive an
        <a href="#award-pool-distributions" class={termStyles}
          >Award Pool Distribution</a
        > calculated as <a href="#total-award-budget" class={termStyles}
          >Total Award Pool</a
        > * their
        <a href="#referrer-award-pool-share" class={termStyles}
          >Referrer Award Pool Share</a
        >.
      </p>
      <p class={textStyles}>
        In other words, $10,000 USD in $ENS distributed proportionally to each <a
          href="#qualifying-referrer"
          class={termStyles}>Qualified Referrer</a
        > based on their <a href="#referrer-award-pool-share" class={termStyles}
          >Referrer Award Pool Share</a
        >.
      </p>

      <h3 class={h3Styles} id="award-distribution">
        &quot;Award Distribution&quot;
      </h3>
      <p class={textStyles}>
        NameHash Labs aims to perform <a
          href="#award-distribution"
          class={termStyles}>Award Distribution</a
        > by no later than Jan 15, 2026.
      </p>
      <p class={textStyles}>
        Publicly auditable records of the <a
          href="#award-distribution"
          class={termStyles}>Award Distribution</a
        > will be provided back to the ENS DAO.
      </p>

      <h2 class={h2Styles}>Dispute Resolution and Final Authority</h2>
      <p class={textStyles}>
        NameHash Labs reserves the exclusive right to interpret, apply, and
        enforce all rules related to this program. In the event of any dispute,
        ambiguity, or claim arising out of or relating to this program,
        including but not limited to eligibility, qualification, reward
        calculation, participant conduct, or program administration, NameHash
        Labs' determination shall be final, binding, and made in NameHash Labs
        sole discretion.
      </p>
      <p class={textStyles}>
        By participating in the program, you expressly acknowledge and agree
        that:
      </p>
      <ul class="list-disc list-outside ml-5 space-y-2">
        <li class={cn(textStyles, "pl-2")}>
          NameHash Labs may resolve any dispute in any manner it deems
          appropriate;
        </li>
        <li class={cn(textStyles, "pl-2")}>
          No appeal or further review of NameHash Labs decision is possible; and
        </li>
        <li class={cn(textStyles, "pl-2")}>
          Your participation constitutes acceptance of NameHash Labs’s full and
          unilateral authority to make final decisions regarding all aspects of
          the program.
        </li>
      </ul>
    </div>
  </section>
</Layout>

<style>
  .formula-fraction {
    line-height: 1.2;
  }
</style>
