---
import { Image } from "astro:assets";
import { ExternalLink as ExternalLinkIcon } from "@lucide/astro";
import GetInspiredBackgroundImage from "../assets/getInspiredBackgroundImage.png";
import VoicesFromTheCommunityBackgroundImage from "../assets/voicesFromTheCommunityBackground.png";
import Web3NeedsToChangeImage from "../assets/web3NeedsToChangeImage.png";
import LeaderboardSnippetCard from "../components/atoms/cards/LeaderboardSnippetCard.astro";
import QuoteCard from "../components/atoms/cards/QuoteCard.astro";
import { EnscribeSolidIcon } from "../components/atoms/icons/EnscribeSolidIcon";
import TelegramIcon from "../components/atoms/icons/TelegramIcon.astro";
import ContractNamingBestPractices from "../components/contract-naming-season/ContractNamingBestPractices.astro";
import ContractNamingHero from "../components/contract-naming-season/ContractNamingHero.astro";
import ContractNamingIncentivesBanner from "../components/contract-naming-season/ContractNamingIncentivesBanner.astro";
import { FrequentlyAskedQuestions } from "../components/contract-naming-season/FrequentlyAskedQuestions";
import {
  howItWorksItems,
  voicesFromTheCommunity,
  whyNameYourSmartContractsNowItems,
} from "../components/contract-naming-season/data";
import { shadcnButtonVariants } from "../components/ui/shadcnButtonStyles";
import { contractPipeline } from "../contract-pipelines";
import Layout from "../layouts/Layout.astro";
import { OrgId } from "../types/organizations";
import { getOrgById } from "../utils/dataAccess";
import { cn } from "../utils/tailwindClassConcatenation";

const containerBaseStyles =
  "w-full max-w-[1216px] box-border h-fit flex flex-col flex-nowrap justify-start items-center";
const sectionHeaderBaseStyles = "text-2xl leading-normal font-semibold text-black";
const itemHeadersBaseStyles = "text-lg leading-normal font-semibold text-black";
const itemTextBaseStyles = "text-base leading-normal font-normal text-muted-foreground";
const backgroundGreyStyles =
  "absolute w-screen sm:w-[calc(100vw-15px)] h-full box-border py-6 sm:py-[40px] bg-neutral-50 bottom-0";

const daoScores = contractPipeline();
---

<Layout
  pageMetadata={{
    title: "ENSAwards: ENS Contract Naming Season",
    description: "Elevate your protocol’s onchain identity.",
    url: "https://ensawards.org/ens-contract-naming-season",
    ogImage: "/contract-naming-season_og_image.png",
    twitterImage: "/contract-naming-season_twitter_og_image.png",
  }}>
  <ContractNamingHero />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-center items-center max-sm:gap-10 gap-[60px] pt-5 sm:pt-[60px] pb-0 px-5 sm:px-8">
    <div
      class={cn(
        containerBaseStyles,
        "flex flex-col-reverse sm:flex-row justify-start items-center gap-5 sm:gap-10",
      )}>
      <div class="flex flex-col justify-start items-start gap-5 relative z-10">
        <h3 class={cn(sectionHeaderBaseStyles, "self-stretch text-left")}>
          Web3 UX needs to change
        </h3>
        <p class={itemTextBaseStyles}>
          Every time users interact with a smart contract, they’re asked to
          trust a long, meaningless hex address.
        </p>
        <p class={itemTextBaseStyles}>
          Not only does this make Ethereum harder to use, it leaves users
          exposed to address spoofing and phishing attacks from scammers.
        </p>
      </div>
      <Image
        quality={100}
        src={Web3NeedsToChangeImage}
        alt="future of Web3 UX"
        class="w-full sm:w-1/2 sm:min-w-1/2 relative z-10"
      />
    </div>
    <div class={cn(containerBaseStyles, "gap-6 sm:gap-10")}>
      <h3 class={cn(sectionHeaderBaseStyles, "self-stretch text-left")}>
        Why name your contracts now?
      </h3>
      <div
        class="flex flex-col sm:flex-row flex-wrap justify-start items-start gap-6">
        {
          whyNameYourSmartContractsNowItems.map((item) => (
            <div class="w-full sm:max-w-[282px] h-fit box-border flex flex-col flex-nowrap justify-start items-start gap-5">
              <div class="w-12 h-12 p-3 bg-gray-100 rounded-full">
                <item.icon
                  size={24}
                  stroke-width={1.5}
                  className="text-muted-foreground"
                />
              </div>
              <div class="flex flex-col flex-nowrap justify-start items-start gap-2">
                <h4 class={cn(itemHeadersBaseStyles)}>{item.name}</h4>
                <p class={cn(itemTextBaseStyles)}>{item.description}</p>
              </div>
            </div>
          ))
        }
      </div>
      <ContractNamingIncentivesBanner />
    </div>
    <ContractNamingBestPractices />
    <div
      class={cn(
        containerBaseStyles,
        "gap-5 sm:gap-10 py-6 sm:py-[40px] relative z-10",
      )}>
      <div class={backgroundGreyStyles}></div>
      <h3
        class={cn(
          sectionHeaderBaseStyles,
          "relative z-10 self-stretch text-left",
        )}>
        How to earn awards?
      </h3>
      <div
        class="relative z-10 flex flex-col sm:flex-row flex-wrap justify-start items-start gap-4 sm:gap-6">
        {
          howItWorksItems.map((item, idx) => (
            <div class="w-full sm:max-w-[286px] max-sm:min-h-[286px] sm:h-[286px] flex flex-col justify-between items-start p-5 rounded-xl border border-gray-200 bg-white">
              <div class="flex flex-col justify-start items-start gap-3">
                <item.icon
                  size={24}
                  stroke-width={1.5}
                  className="text-muted-foreground"
                />
                <div class="flex flex-col justify-start items-start gap-2">
                  <h4 class="text-lg leading-normal font-semibold text-black">
                    {item.name}
                  </h4>
                  <p class={itemTextBaseStyles}>{item.description}</p>
                </div>
              </div>
              <p class="text-xs leading-normal font-medium text-muted-foreground">
                STEP {idx + 1}
              </p>
            </div>
          ))
        }
      </div>
    </div>
    <div
      class={cn(
        containerBaseStyles,
        "sm:flex-row sm:flex-wrap gap-10 sm:min-h-[340px]",
        "sm:bg-[url(/src/assets/getInspiredBackgroundImage.png)] bg-no-repeat bg-size-[auto_330px] bg-right",
      )}>
      <div
        class="w-full md:w-[calc(50%-40px)] flex flex-col justify-start items-start gap-5">
        <h3
          class={cn(
            sectionHeaderBaseStyles,
            "relative z-10 self-stretch text-left",
          )}>
          Get inspired with contract naming examples
        </h3>
        <p class={itemTextBaseStyles}>
          See examples for how other protocols are naming their smart contracts.
          Join the race to the top of the ENSAwards leaderboards with your
          protocol!
        </p>
      </div>
      <LeaderboardSnippetCard
        name="DAO leaderboard"
        description="See how DAOs rank for following ENS best practices."
        link="/leaderboards/dao">
        <div
          slot="bestResultsIcons"
          class="sm:relative sm:left-4 flex flex-row flex-nowrap justify-center items-center gap-0">
          {
            Object.entries(daoScores)
              .slice(0, 3)
              .map(([scoreCategory, value], idx) => {
                const daoId = scoreCategory as OrgId;
                const org = getOrgById(daoId);
                const OrgIcon = org.icon;
                return (
                  <div
                    style={{ right: `${12 * idx}px` }}
                    class={cn(
                      idx > 0 && "relative",
                      "flex flex-col items-center justify-center box-border w-fit h-fit border border-gray-200 rounded-md bg-white",
                    )}>
                    <OrgIcon className="w-10 h-10 rounded-md" />
                  </div>
                );
              })
          }
          <p
            class="relative text-sm leading-normal font-medium text-muted-foreground"
            style={{ right: "16px" }}>
            + more
          </p>
        </div>
      </LeaderboardSnippetCard>
    </div>
    <div
      class={cn(
        containerBaseStyles,
        "gap-5 sm:gap-10 py-6 sm:py-[40px] relative z-10",
      )}>
      <div
        class={cn(
          backgroundGreyStyles,
          "sm:h-[calc(100%+30px)] flex justify-center items-center",
        )}>
        <Image
          quality={100}
          src={VoicesFromTheCommunityBackgroundImage}
          alt="avatars of ENS community"
          class="max-sm:hidden relative bottom-0 sm:h-full sm:w-auto"
        />
      </div>
      <h3
        class={cn(
          sectionHeaderBaseStyles,
          "relative z-10 self-stretch text-left",
        )}>
        Voices from the community
      </h3>
      <div
        class="relative z-10 flex flex-col sm:flex-row flex-wrap justify-start items-start gap-4 sm:gap-5">
        {voicesFromTheCommunity.map((quote) => <QuoteCard {...quote} />)}
      </div>
    </div>
    <div
      class={cn(
        containerBaseStyles,
        "min-[810px]:flex-row items-start gap-6 sm:gap-10",
      )}>
      <div
        class="w-full md:w-1/3 flex flex-col justify-start items-start gap-5">
        <h3 class={cn(sectionHeaderBaseStyles)}>Start contract naming today</h3>
        <p class={itemTextBaseStyles}>
          Ready to upgrade your protocol's security and UX and claim your spot
          on the leaderboard?
        </p>
        <p class={itemTextBaseStyles}>
          Start by reviewing docs and best practices and join the conversation.
        </p>
        <a
          href="https://docs.ens.domains/web/naming-contracts"
          target="_blank"
          rel="noreferrer"
          class={cn(
            shadcnButtonVariants({
              variant: "outline",
              size: "default",
              className:
                "cursor-pointer rounded-md gap-3 pl-[17px] py-[9px] pr-[15px]",
            }),
          )}
          >Review technical docs<ExternalLinkIcon
            size={20}
            class="text-gray-400"
          /></a
        >
      </div>
      <div
        class="w-full min-[810px]:w-[1px] h-[1px] min-[810px]:h-60 bg-gray-200">
      </div>
      <div
        class="w-full md:w-1/3 flex flex-col justify-start items-start gap-6">
        <div
          class="w-[52px] h-[52px] box-border flex flex-col items-center justify-center p-[14px] border border-gray-200 rounded-full">
          <EnscribeSolidIcon size={24} className="text-muted-foreground" />
        </div>
        <div class="flex flex-col justify-start items-start gap-4">
          <h4 class="text-lg leading-normal font-semibold text-black">
            Explore best practices
          </h4>
          <p class={itemTextBaseStyles}>
            Learn about contract naming best practices from Enscribe.
          </p>
        </div>
        <a
          href="https://www.enscribe.xyz/guides/how-to-guides/deploy-and-name-smart-contract"
          target="_blank"
          rel="noreferrer"
          class={cn(
            shadcnButtonVariants({
              variant: "outline",
              size: "default",
              className:
                "cursor-pointer rounded-md gap-3 pl-[17px] py-[9px] pr-[15px]",
            }),
          )}
          >Learn more at Enscribe<ExternalLinkIcon
            size={20}
            class="text-gray-400"
          /></a
        >
      </div>
      <div
        class="w-full min-[810px]:w-[1px] h-[1px] min-[810px]:h-60 bg-gray-200">
      </div>
      <div
        class="w-full md:w-1/3 flex flex-col justify-start items-start gap-6">
        <div
          class="w-[52px] h-[52px] box-border flex flex-col items-center justify-center p-[14px] border border-gray-200 rounded-full">
          <TelegramIcon className="text-gray-400 w-6 h-6" />
        </div>
        <div class="flex flex-col justify-start items-start gap-4">
          <h4 class="text-lg leading-normal font-semibold text-black">
            Join the conversation
          </h4>
          <p class={itemTextBaseStyles}>
            Want to be part of the conversation? Join the Enscribe community in
            Telegram.
          </p>
        </div>
        <a
          href="https://t.me/enscribers"
          target="_blank"
          rel="noreferrer"
          class={cn(
            shadcnButtonVariants({
              variant: "outline",
              size: "default",
              className:
                "cursor-pointer rounded-md gap-3 pl-[17px] py-[9px] pr-[15px]",
            }),
          )}
          >Join the community<ExternalLinkIcon
            size={20}
            class="text-gray-400"
          /></a
        >
      </div>
    </div>
    <div
      class={cn(
        containerBaseStyles,
        "py-6 sm:py-[40px] sm:pb-[60px] relative z-10",
      )}>
      <div class={backgroundGreyStyles}></div>
      <div
        class="w-full flex flex-col min-[810px]:flex-row justify-start min-[810px]:justify-between items-start gap-5 sm:gap-10 min-[810px]:gap-0 relative z-10">
        <h3
          class={cn(
            sectionHeaderBaseStyles,
            "w-full min-[810px]:w-1/2 text-left",
          )}>
          Frequently asked questions
        </h3>
        <FrequentlyAskedQuestions client:load />
      </div>
    </div>
  </section>
</Layout>
