---
import { Code, type Icon as IconType, Megaphone } from "@lucide/astro";
import HolidayReferralAwardsHero from "../components/holiday-referral-awards/HolidayReferralAwardsHero.astro";
import { ReferralLinkForm } from "../components/holiday-referral-awards/ReferralLinkForm";
import { TopReferrers } from "../components/holiday-referral-awards/referrers/TopReferrers";
import JoinTelegram from "../components/molecules/JoinTelegram.astro";
import Layout from "../layouts/Layout.astro";
import { cn } from "../utils/tailwindClassConcatenation";

interface ContentItemData {
  name: string;
  description: string;
  icon: typeof IconType;
}

interface EveryoneCanParticipateItemData extends ContentItemData {
  iconColor: string;
}

const everyoneCanParticipateItems: EveryoneCanParticipateItemData[] = [
  {
    name: "Developers",
    description:
      "Build (and promote!) features for registering or renewing .eth names directly within your own app.",
    icon: Code,
    iconColor: "text-[#0052CC]",
  },
  {
    name: "Content creators",
    description:
      "Share your referral link with your audience through social media or wherever you reach your community.",
    icon: Megaphone,
    iconColor: "text-[#6F42C1]",
  },
];

const sectionHeaderBaseStyles = "text-2xl sm:text-3xl leading-normal font-semibold text-black";
const descriptionStyles = "text-base leading-7 font-normal text-gray-500 self-stretch";

const backgroundGreyStyles =
  "absolute w-screen h-full box-border py-6 sm:py-[80px] bg-neutral-50 bottom-0";
---

<Layout
  pageMetadata={{
    title: "ENSAwards: ENS Referral Awards",
    description:
      "Earn rewards for referring .eth name registrations and renewals. Join the ENS Holiday Awards program.",
    url: "https://ensawards.org/ens-referral-awards",
    ogImage: "holiday-referral-awards_og_image.png",
    twitterImage: "holiday-referral-awards_twitter_og_image.png",
  }}>
  <HolidayReferralAwardsHero />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-center items-center max-sm:gap-6 gap-[80px] py-6 sm:py-[80px] px-5 sm:px-8 overflow-hidden">
    <div
      class="w-full max-w-[1216px] box-border h-fit flex flex-col min-[900px]:flex-row flex-nowrap justify-start sm:justify-center items-center sm:items-start gap-10">
      <div
        class="w-full max-w-[650px] h-fit flex flex-nowrap flex-col justify-start items-start gap-5">
        <h3 class="text-2xl leading-none font-semibold text-black">
          ENS Holiday Awards
        </h3>
        <div class="flex flex-nowrap flex-col justify-start items-start gap-2">
          <p class={descriptionStyles}>
            The team at <a
              href="https://namehashlabs.org/"
              target="_blank"
              class="leading-normal text-black underline underline-offset-[25%] decoration-black/40 hover:decoration-black transition-all duration-200"
              >NameHash Labs</a
            > is coordinating the launch of an ENS Holiday Awards program.
          </p>
          <p class={descriptionStyles}>
            <a
              href="https://discuss.ens.domains/t/temp-check-ens-holiday-awards/21359"
              target="_blank"
              class="leading-normal text-black underline underline-offset-[25%] decoration-black/40 hover:decoration-black transition-all duration-200"
              >ENS Holiday Awards</a
            > are envisioned as a trial incentive framework that will issue awards
            in $ENS for referred .eth name registrations and renewals.
          </p>
          <p class={descriptionStyles}>
            For details and to contribute to the discussion, please visit <a
              href="https://discuss.ens.domains/t/temp-check-ens-holiday-awards/21359"
              target="_blank"
              class="leading-normal text-black underline underline-offset-[25%] decoration-black/40 hover:decoration-black transition-all duration-200"
              >the ENS Holiday Awards discussion on the ENS DAO Forum</a
            >.
          </p>
        </div>
      </div>
    </div>
    <div
      class="w-full max-w-[1216px] box-border h-fit flex flex-col justify-start items-start sm:items-center gap-5 sm:gap-[60px]">
      <h3 class={sectionHeaderBaseStyles}>Everyone can participate!</h3>
      <div
        class="w-full flex flex-col sm:flex-row flex-nowrap justify-center items-center gap-3 sm:gap-5">
        {
          everyoneCanParticipateItems.map((item, idx) => (
            <div class="w-fit h-fit flex flex-col justify-start items-start gap-4 p-4 sm:p-6 rounded-2xl border border-gray-200">
              <div class="w-fit h-fit flex flex-row justify-start items-start gap-5">
                <item.icon size={24} className={item.iconColor} />
                <h4 class="text-xl leading-normal font-semibold text-black">
                  {item.name}
                </h4>
              </div>
              <p class="text-base leading-normal font-normal text-muted-foreground">
                {item.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>
    <div
      class={cn(
        "w-full max-w-[1216px] box-border h-fit flex flex-col flex-nowrap justify-center items-center " +
          "gap-5 sm:gap-10 py-6 sm:py-[80px] relative z-10 bg-neutral-50",
      )}>
      <div
        class={cn(
          backgroundGreyStyles,
          "sm:bg-[url(/src/assets/generateReferralLinkBackgroundImage.png)] bg-no-repeat bg-size-[1440px_578px] bg-top",
        )}>
      </div>
      <div
        class="sm:min-h-[500px] relative z-10 flex flex-col flex-nowrap justify-center items-center gap-5">
        <ReferralLinkForm client:load />
        <!--TODO: replace current href with the correct link (should lead to FAQ section when it's done)-->
        <p
          class="text-base leading-normal font-normal text-muted-foreground text-center">
          Bulk renewals not supported. <a
            href="/ens-holiday-awards-rules"
            class="underline underline-offset-[25%] decoration-muted-foreground/40 hover:decoration-muted-foreground"
            >Learn&nbsp;more</a
          >
        </p>
      </div>
    </div>
    <div
      class="w-full max-w-[1216px] box-border h-fit flex flex-col flex-nowrap justify-start items-start max-md:gap-5">
      <div class="w-full h-fit flex flex-col justify-start items-center gap-3">
        <h3
          class="text-3xl leading-normal font-semibold text-black text-center">
          Top referrers
        </h3>
        <p
          class="text-sm leading-normal font-normal text-muted-foreground text-center">
          It may take a while for the data to be actualized
        </p>
      </div>
      <TopReferrers client:load onENSHolidayReferralsAwards={true} />
    </div>
    <JoinTelegram
      header="Have questions?"
      description="Join the ENSAwards telegram community and start a conversation"
      inviteText="Join our Telegram"
      telegramLink={new URL("https://t.me/ensawards")}
    />
  </section>
</Layout>
