---
import {
  Award,
  Code,
  type Icon as IconType,
  Link2,
  Megaphone,
  Sparkles,
  TrendingUp,
} from "@lucide/astro";
import { FrequentlyAskedQuestions } from "../components/molecules/FrequentlyAskedQuestions";
import JoinTelegram from "../components/molecules/JoinTelegram.astro";
import HolidayReferralAwardsHero from "../components/referral-awards-program/HolidayReferralAwardsHero.astro";
import { ReferralLinkForm } from "../components/referral-awards-program/ReferralLinkForm";
import { LiveReferralFeed } from "../components/referral-awards-program/referrals/LiveReferralFeed";
import { ReferrerLeaderboardSnippet } from "../components/referral-awards-program/referrers/ReferrerLeaderboardSnippet";
import { shadcnButtonVariants } from "../components/ui/shadcnButtonStyles";
import { ENSHolidayAwards } from "../data/referralIncentivePrograms";
import Layout from "../layouts/Layout.astro";
import { cn } from "../utils/tailwindClassConcatenation";

interface ContentItemData {
  name: string;
  description: string;
  icon: typeof IconType;
}

interface HowItWorksItemData extends ContentItemData {
  iconBackground: string;
  iconColor: string;
}

const howItWorksItems: HowItWorksItemData[] = [
  {
    name: "Get your referral link",
    description:
      "Generate your unique referrer link above and integrate, embed, or distribute it however you choose.",
    icon: Link2,
    iconBackground: "bg-[rgba(0,82,204,0.10)]",
    iconColor: "text-[rgba(0,82,204,1.0)]",
  },
  {
    name: "Earn points",
    description:
      "Each year of .eth name registrations or renewals attributed to you through referrals earns you 1 point.",
    icon: TrendingUp,
    iconBackground: "bg-[rgba(111,66,193,0.10)]",
    iconColor: "text-[rgba(111,66,193,1.0)]",
  },
  {
    name: "Win awards",
    description:
      "A $10,000 prize pool will be distributed proportionally to the top referrers based on their final score.",
    icon: Award,
    iconBackground: "bg-[rgba(16,185,129,0.10)]",
    iconColor: "text-[rgba(16,185,129,1.0)]",
  },
];

const sectionHeaderBaseStyles = "text-2xl sm:text-3xl leading-normal font-semibold text-black";
const descriptionStyles = "text-base leading-6 font-normal text-muted-foreground self-stretch";

const backgroundGreyStyles =
  "absolute w-screen h-full box-border py-6 sm:py-[80px] bg-neutral-50 bottom-0";
---

<Layout
  pageMetadata={{
    title: "ENSAwards: ENS Referral Awards",
    description:
      "Earn rewards for referring .eth name registrations and renewals. Join the ENS Holiday Awards program.",
    url: "https://ensawards.org/ens-referral-awards",
    ogImage: "/holiday-referral-awards_og_image.png",
    twitterImage: "/holiday-referral-awards_twitter_og_image.png",
  }}>
  <HolidayReferralAwardsHero />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-center items-center max-sm:gap-6 gap-[80px] px-5 sm:px-8 overflow-hidden">
    <div
      class="w-full max-w-[1216px] box-border h-fit flex flex-col flex-nowrap justify-start items-center max-md:gap-5 py-6 sm:pt-[80px] sm:pb-[40px]">
      <h3
        class="text-2xl sm:text-3xl leading-normal font-semibold text-black text-center relative z-10">
        Top referrers
      </h3>
      <ReferrerLeaderboardSnippet
        client:load
        generateReferralLinkAction="scroll"
      />
    </div>
    <div
      class={cn(
        "w-full max-w-[1216px] box-border h-fit flex flex-col flex-nowrap justify-start items-center gap-6 sm:gap-5 " +
          "py-6 sm:py-[80px] relative z-10",
      )}>
      <div class={backgroundGreyStyles}></div>
      <div
        class="flex flex-col flex-nowrap justify-start items-center gap-3 relative z-10">
        <h3 class={cn(sectionHeaderBaseStyles, "text-center")}>
          ENS referral live feed
        </h3>
        <p class={cn(descriptionStyles, "text-center")}>
          Watch the latest referrals here as they stream in
        </p>
      </div>
      <LiveReferralFeed
        client:load
        title="ENS referral live feed"
        itemsPerPage={3}
        referralIncentiveProgram={ENSHolidayAwards}
      />
    </div>
    <div
      class="w-full max-w-[1216px] box-border h-fit flex flex-col justify-start items-start sm:items-center gap-5 sm:gap-[60px]">
      <h3 class={cn(sectionHeaderBaseStyles, "text-center")}>
        Everyone can participate!
      </h3>
      <div
        class="w-full flex flex-col sm:flex-row flex-nowrap justify-center items-center gap-3 sm:gap-5">
        <div
          class="w-fit h-fit flex flex-col justify-start items-start gap-4 p-4 sm:p-6 rounded-2xl border border-gray-200">
          <div
            class="w-fit h-fit flex flex-row justify-start items-start gap-5">
            <Code size={24} className="text-[#0052CC]" />
            <h4 class="text-xl leading-normal font-semibold text-black">
              Developers
            </h4>
          </div>
          <p class="text-base leading-normal font-normal text-muted-foreground">
            Build .eth name registration and renewals directly into your app and
            to earn big through referrals! <a
              target="_blank"
              href="https://github.com/namehash/ens-referrals"
              class="text-black underline underline-offset-[25%] decoration-black/40 hover:decoration-black transition-all duration-200"
              >Learn more at the ens-referrals GitHub</a
            >.
          </p>
        </div>
        <div
          class="w-fit h-fit flex flex-col justify-start items-start gap-4 p-4 sm:p-6 rounded-2xl border border-gray-200">
          <div
            class="w-fit h-fit flex flex-row justify-start items-start gap-5">
            <Megaphone size={24} className="text-[#6F42C1]" />
            <h4 class="text-xl leading-normal font-semibold text-black">
              Content creators
            </h4>
          </div>
          <p class="text-base leading-normal font-normal text-muted-foreground">
            <a
              id="scroll-to-generate-referral-from-ECP-section"
              class="text-black underline underline-offset-[25%] decoration-black/40 hover:decoration-black transition-all duration-200 cursor-pointer"
              >Generate your ENS Referral Program link</a
            > below and share it with your audience through social media or wherever
            you reach your community.
          </p>
        </div>
      </div>
    </div>
    <div
      class={cn(
        "w-full max-w-[1216px] box-border h-fit flex flex-col flex-nowrap justify-center items-center " +
          "gap-5 sm:gap-10 py-6 sm:py-[80px] relative z-10 bg-neutral-50",
      )}>
      <div
        class={cn(
          backgroundGreyStyles,
          "sm:bg-[url(/src/assets/generateReferralLinkBackgroundImage.png)] bg-no-repeat bg-size-[1440px_578px] bg-top",
        )}>
      </div>
      <div
        class="sm:min-h-[500px] relative z-10 flex flex-col flex-nowrap justify-center items-center gap-5">
        <ReferralLinkForm client:load />
        <p
          class="text-base leading-normal font-normal text-muted-foreground text-center">
          Limitations apply. <a
            id="scroll-to-faq"
            class="cursor-pointer underline underline-offset-[25%] decoration-muted-foreground/40 hover:decoration-muted-foreground"
            >Learn&nbsp;more</a
          >
        </p>
      </div>
    </div>
    <div
      class="w-full max-w-[1216px] box-border h-fit flex flex-col flex-nowrap justify-start items-center gap-5 sm:gap-[60px]">
      <h3 class={cn(sectionHeaderBaseStyles, "text-center")}>How it works</h3>
      <div
        class="w-full h-fit flex flex-col min-[880px]:flex-row min-[880px]:flex-wrap justify-start min-[880px]:justify-center items-center gap-3 sm:gap-5">
        {
          howItWorksItems.map((item) => (
            <div class="w-full max-w-[390px] h-fit flex flex-col justify-start items-start gap-5 p-4 rounded-2xl border border-gray-200">
              <div
                class={cn(
                  "w-[48px] h-[48px] rounded-full flex justify-center items-center",
                  item.iconBackground,
                )}>
                <item.icon size={20} className={cn(item.iconColor)} />
              </div>
              <div class="w-full h-fit flex flex-col justify-start items-start gap-4">
                <h4 class="text-xl leading-normal font-semibold text-black">
                  {item.name}
                </h4>
                <p class={descriptionStyles}>{item.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div
      class={cn(
        "w-full max-w-[1216px] box-border h-fit flex flex-col flex-nowrap justify-start items-center gap-5 sm:gap-[60px] " +
          "py-6 sm:py-[80px] relative z-10",
      )}>
      <div class={backgroundGreyStyles}></div>
      <div
        class="w-full h-fit flex flex-col justify-start items-center gap-6 relative z-10">
        <div
          class={cn(
            "w-[48px] h-[48px] rounded-full flex justify-center items-center bg-[rgba(111,66,193,0.10)]",
          )}>
          <Code size={20} className="text-[rgba(111,66,193,1.0)]" />
        </div>
        <div
          class="w-full h-fit flex flex-col justify-start items-center gap-4">
          <h3 class={cn(sectionHeaderBaseStyles, "text-center")}>
            Developer Integration Options
          </h3>
          <p class={cn(descriptionStyles, "text-center")}>
            Explore integration options with the ENS Referral Program
          </p>
        </div>
      </div>
      <div
        class="w-full h-fit flex flex-col sm:flex-row sm:flex-wrap justify-start sm:justify-center items-center gap-3 sm:gap-5 relative z-10">
        <div
          class="w-full max-w-[590px] h-fit sm:min-h-[245px] box-border flex flex-col justify-between items-start max-sm:gap-10 sm:gap-y-5 p-4 rounded-2xl border border-gray-200 bg-white">
          <div
            class="w-full h-fit flex flex-col justify-start items-start gap-5">
            <div
              class="flex flex-row flex-nowrap justify-start items-center gap-4 sm:gap-5">
              <Code size={24} className="text-[rgba(0,82,204,1.0)]" />
              <h4 class="text-xl leading-normal font-semibold text-black">
                Total UX Control
              </h4>
            </div>
            <p class={descriptionStyles}>
              Integrate directly with ENS smart contracts for full flexibility
              and control over the user journey. Build the ultimate .eth name
              registration and renewal features directly into your app or
              wallet.
            </p>
          </div>
          <a
            target="_blank"
            href="https://github.com/namehash/ens-referrals"
            class={cn(
              shadcnButtonVariants({
                variant: "secondary",
                size: "default",
                className: "cursor-pointer rounded-full",
              }),
            )}>Learn more on GitHub →</a
          >
        </div>
        <div
          class="w-full max-w-[590px] h-fit sm:min-h-[245px] box-border flex flex-col justify-between items-start max-sm:gap-10 sm:gap-y-5 p-4 rounded-2xl border border-gray-200 bg-white">
          <div
            class="w-full h-fit flex flex-col justify-start items-start gap-5">
            <div
              class="flex flex-row flex-nowrap justify-start items-center gap-4 sm:gap-5">
              <Sparkles size={24} className="text-[rgba(111,66,193,1.0)]" />
              <h4 class="text-xl leading-normal font-semibold text-black">
                Fast & Easy
              </h4>
            </div>
            <p class={descriptionStyles}>
              Simply integrate referral links into your apps and websites. For
              example: Consider notifying your users of the .eth names they own
              and that will expire soon if not renewed.
            </p>
          </div>
          <a
            id="fastAndEasyCardButton"
            class={cn(
              shadcnButtonVariants({
                variant: "secondary",
                size: "default",
                className: "cursor-pointer rounded-full",
              }),
            )}>Generate my link →</a
          >
        </div>
      </div>
    </div>
    <JoinTelegram
      header="Have questions?"
      description="Join the ENSAwards telegram community and start a conversation"
      inviteText="Join our Telegram"
      telegramLink={new URL("https://t.me/ensawards")}
    />
    <div
      class={cn(
        "w-full max-w-[1216px] box-border h-fit flex flex-col flex-nowrap justify-start items-center " +
          "py-6 sm:pt-[50px] sm:pb-[80px] relative z-10",
      )}>
      <div class={backgroundGreyStyles}></div>
      <div
        class="w-full flex flex-col min-[810px]:flex-row justify-start min-[810px]:justify-between items-start gap-5 sm:gap-10 min-[810px]:gap-0 relative z-10">
        <div
          class="w-full min-[810px]:w-1/2 h-fit flex flex-col justify-start items-start gap-5">
          <h3 class={cn(sectionHeaderBaseStyles, "w-full text-left")}>
            Frequently asked questions
          </h3>
          <p class="text-base leading-normal font-normal text-muted-foreground">
            Check out our Frequently Asked Questions (FAQs) to find quick
            solutions to common queries. Still have questions? <a
              id="scroll-to-tg"
              class="cursor-pointer text-black underline underline-offset-[25%] decoration-black/40 hover:decoration-black transition-all duration-200"
              >Join the Telegram community!</a
            >
          </p>
        </div>
        <FrequentlyAskedQuestions
          client:load
          itemsToShow={[
            "Are there limitations to the referral links?",
            "How do I earn points?",
            "What's an $ENS?",
          ]}
        />
      </div>
    </div>
  </section>
  <script>
    import { scrollWithOffset } from "../utils/domActions";

    const scrollToFaqElement = document.getElementById("scroll-to-faq");
    scrollToFaqElement.addEventListener("click", (event) => {
      event.preventDefault();
      scrollWithOffset(`FAQ-Are there limitations to the referral links?`, 90);
    });

    const scrollToJoinTelegramElement = document.getElementById("scroll-to-tg");
    scrollToJoinTelegramElement.addEventListener("click", (event) => {
      event.preventDefault();
      scrollWithOffset(`joinTelegramCommunity`, 90);
    });

    const scrollFromDeveloperIntegrationsElement = document.getElementById(
      "fastAndEasyCardButton",
    );
    scrollFromDeveloperIntegrationsElement.addEventListener(
      "click",
      (event) => {
        event.preventDefault();
        document.getElementById("referral award recipient").focus();
      },
    );

    const scrollToGenerateLinkFormElement = document.getElementById(
      "scroll-to-generate-referral-from-ECP-section",
    );
    scrollToGenerateLinkFormElement.addEventListener("click", (event) => {
      event.preventDefault();
      document.getElementById("referral award recipient").focus();
    });
  </script>
</Layout>
