---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import ContractNamingBanner from "../components/atoms/ContractNamingBanner.astro";
import CategoryCard from "../components/atoms/cards/CategoryCard.astro";
import LeaderboardCard from "../components/atoms/cards/LeaderboardCard.astro";
import SuggestionCard from "../components/atoms/cards/SuggestionCard.astro";
import HolidayReferralAwardsCTA from "../components/holiday-referral-awards/HolidayReferralAwardsCTA.astro";
import { TopReferrers } from "../components/holiday-referral-awards/referrers/TopReferrers";
import Hero from "../components/molecules/Hero.astro";
import ItemsList from "../components/molecules/ItemsList.astro";
import { shadcnButtonVariants } from "../components/ui/shadcnButtonStyles";
import { contractPipeline } from "../contract-pipelines";
import { APPS } from "../data/apps";
import { BEST_PRACTICE_CATEGORIES } from "../data/bestPractices";
import Layout from "../layouts/Layout.astro";
import { OrgId } from "../types/organizations";
import { calculateAppEnsAwardsScore, getOrgById } from "../utils/dataAccess";
import { cn } from "../utils/tailwindClassConcatenation";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif,svg}");
const placeIcons = [
  "/src/assets/firstPlaceAward.svg",
  "/src/assets/secondPlaceAward.svg",
  "/src/assets/thirdPlaceAward.svg",
];

const daoScores = contractPipeline();
---

<Layout>
  <Hero />
  <section
    id="previews-section"
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-center items-center max-sm:gap-6 gap-10 py-5 sm:py-[60px] px-5 sm:px-8">
    <HolidayReferralAwardsCTA />
    <ContractNamingBanner />
    <ItemsList
      header="Top DAOs"
      containerStyles="gap-3 sm:gap-2 sm:justify-start max-sm:justify-center">
      {
        Object.entries(daoScores)
          .slice(0, 3)
          .map(([scoreCategory, value], idx) => {
            const daoId = scoreCategory as OrgId;
            const org = getOrgById(daoId);
            const OrgIcon = org.icon;
            return (
              <LeaderboardCard
                key={`dao-leaderboard-card-${org.id}`}
                name={org.name}
                ensAwardsScore={value}
                viewDetailsLink={`/dao/${org.slug}`}
                viewDetailsText="DAO report">
                {idx < 3 ? (
                  <Image
                    alt={`${idx + 1}-place`}
                    src={images[placeIcons[idx]]()}
                    slot="placeIcon"
                  />
                ) : (
                  <p
                    slot="placeIcon"
                    class="w-8 pt-[7px] px-[11px] pb-[5px] text-sm leading-normal font-semibold text-muted-foreground">
                    {idx + 1}
                  </p>
                )}
                <OrgIcon slot="appIcon" className="w-10 h-10 rounded-md" />
              </LeaderboardCard>
            );
          })
      }
      <a
        href="/leaderboards/dao"
        class={cn(
          shadcnButtonVariants({
            variant: "ghost",
            size: "default",
            className: "cursor-pointer rounded-full text-sm max-sm:w-full",
          }),
        )}>
        View full DAO leaderboard
      </a>
    </ItemsList>
    <ItemsList
      header="Top Apps"
      containerStyles="gap-3 sm:gap-2 sm:justify-start max-sm:justify-center">
      {
        APPS.sort(
          (a, b) =>
            calculateAppEnsAwardsScore(b) - calculateAppEnsAwardsScore(a),
        )
          .slice(0, 3)
          .map((app, idx) => (
            <LeaderboardCard
              key={`app-review-card-${app.id}`}
              name={app.name}
              ensAwardsScore={calculateAppEnsAwardsScore(app)}
              type={app.type}
              viewDetailsLink={`/app/${app.slug}`}
              viewDetailsText="App report">
              <Image
                src={images[app.iconPath]()}
                alt={`${app.id}`}
                slot="appIcon"
                class="w-10 h-10 rounded-md"
              />
              {idx < 3 ? (
                <Image
                  alt={`${idx + 1}-place`}
                  src={images[placeIcons[idx]]()}
                  slot="placeIcon"
                />
              ) : (
                <p
                  slot="placeIcon"
                  class="w-8 pt-[7px] px-[11px] pb-[5px] text-sm leading-normal font-semibold text-muted-foreground">
                  {idx + 1}
                </p>
              )}
            </LeaderboardCard>
          ))
      }
      <a
        href="/leaderboards/app"
        class={cn(
          shadcnButtonVariants({
            variant: "ghost",
            size: "default",
            className: "cursor-pointer rounded-full text-sm max-sm:w-full",
          }),
        )}>
        View full app leaderboard
      </a>
    </ItemsList>
    <!--TODO: After PR #72 is merged, create a new PR reactivating the leaderboard functionality-->
    <!--<TopReferrers-->
    <!--  client:load-->
    <!--  header="Top Referrers"-->
    <!--  onENSHolidayReferralsAwards={false}-->
    <!--/>-->
  </section>
</Layout>
