---
import { Image } from "astro:assets";
import type {ImageMetadata} from "astro";
import AppLeaderboardCard from "../components/atoms/cards/AppLeaderboardCard.astro";
import CategoryCard from "../components/atoms/cards/CategoryCard.astro";
import ItemsList from "../components/molecules/ItemsList.astro";
import { shadcnButtonVariants } from "../components/shadcn/shadcnButtonStyles";
import { appsData } from "../data/appData";
import { bestPracticesCategoryCards } from "../data/bestPracticesData";
import Layout from "../layouts/Layout.astro";
import { cn } from "../lib/utils";
import {normalizeText} from "../utils";
import SuggestionCard from "../components/atoms/cards/SuggestionCard.astro";
import AwardImage from "../assets/awardImage.svg";
import Beams from "../assets/beams.svg";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif,svg}");
const placeIcons = ["/src/assets/firstPlaceAward.svg", "/src/assets/secondPlaceAward.svg","/src/assets/thirdPlaceAward.svg"]
---

<Layout>
  <section
    id="lpHero"
    class="relative w-full h-full max-sm:px-5 max-h-[820px] flex flex-col justify-center items-center bg-gradient-to-b from-[#161547] to-[#080E32] overflow-hidden">
    <div class="w-full max-w-[1280px] h-fit box-border flex flex-col sm:flex-row flex-nowrap justify-center sm:justify-between items-center sm:px-8 max-sm:pt-[96px] max-sm:pb-6 max-sm:gap-6">
        <div
                class="w-fit h-fit max-h-[268px] flex flex-col flex-nowrap justify-center items-center sm:items-start gap-6 sm:gap-8">
            <div
                    class="flex flex-col flex-nowrap justify-center items-center sm:items-start gap-4">
                <h1
                        class="text-white text-[32px] sm:text-[60px] leading-[44px] sm:leading-[72px] font-bold text-center sm:text-left">
                    Discover the best in&nbsp;ENS
                </h1>
                <p
                        class="max-md:max-w-[600px] text-base sm:text-lg leading-normal sm:leading-7 font-normal text-center sm:text-left text-white/60">
                    Do your apps fully support ENS best practices?
                </p>
            </div>
            <a
                    href="/ens-best-practices"
                    class={cn(
                        shadcnButtonVariants({
                            variant: "default",
                            size: "default",
                            className:
                                "cursor-pointer rounded-full px-5 h-11 sm:h-[50px] box-border text-black bg-white hover:bg-white/90",
                        }),
                    )}>ENS best practices</a
            >
        </div>
        <div class="relative md:max-w-1/2 overflow-visible">
            <Image src={AwardImage} alt="award" quality={100} class="relative z-10 w-full"/>
            <img src={Beams.src} alt="beams"  width="1139" height="820" class="absolute -top-60 sm:-top:50 min-[1100px]:-top-40 -right-[70%] min-[1100px]:-right-[25%] w-[1139px] h-[820px] max-w-none" />
        </div>
    </div>
  </section>
  <section
    id="previews-section"
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-center items-center gap-10 py-5 sm:py-[60px] px-5 sm:px-8">
    <ItemsList header="App benchmarks" seeAllLink="/benchmarks" containerStyles="gap-3 sm:gap-3">
      {
        appsData.map((app, idx) => (
          <AppLeaderboardCard
            key={`app-review-card-${normalizeText(app.name)}`}
            name={app.name}
            ensAwardsScore={app.ensAwardsScore}
            type={app.type}
            viewBenchmarksLink={`/benchmarks/${normalizeText(app.name)}`}>
            <Image src={images[app.iconSourceLink]()} alt={`${app.id}-LP`} slot="appIcon" class="rounded-md" />
              {idx < 3 ? (<Image alt={`${idx+1}-place-LP`} src={images[placeIcons[idx]]()} slot="placeIcon" />) : <p slot="placeIcon" class="w-8 pt-[7px] px-[11px] pb-[5px] text-sm leading-normal font-semibold text-muted-foreground">{idx+1}</p>}
          </AppLeaderboardCard>
        ))
      }
        <SuggestionCard whatsSuggested="app" />
    </ItemsList>
    <ItemsList header="ENS best practices" seeAllLink="/ens-best-practices">
      {
        bestPracticesCategoryCards
          .slice(0, 4)
          .map((card, idx) => (
            <CategoryCard
              key={`best-practice-card-${idx}`}
              name="ENS Resolution"
              description="This ENSIP standardizes reverse and primary name resolution for all coin types, and defines how this resolution process operates across the  multichain Ethereum ecosystem."
              viewBestPracticesLink={`/ens-best-practices/${card}`}
              comingSoon={idx === 3}
              numberOfBestPractices={12}
            />
          ))
      }
    </ItemsList>
  </section>
</Layout>
