---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import CategoryCard from "../components/atoms/cards/CategoryCard.astro";
import LeaderboardCard from "../components/atoms/cards/LeaderboardCard.astro";
import SuggestionCard from "../components/atoms/cards/SuggestionCard.astro";
import Hero from "../components/molecules/Hero.astro";
import ItemsList from "../components/molecules/ItemsList.astro";
import { APPS } from "../data/apps";
import { BEST_PRACTICE_CATEGORIES } from "../data/bestPractices";
import Layout from "../layouts/Layout.astro";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif,svg}");
const placeIcons = [
  "/src/assets/firstPlaceAward.svg",
  "/src/assets/secondPlaceAward.svg",
  "/src/assets/thirdPlaceAward.svg",
];
---

<Layout>
  <Hero />
  <section
    id="previews-section"
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-center items-center gap-10 py-5 sm:py-[60px] px-5 sm:px-8">
    <ItemsList
      header="App leaderboard"
      linkData={{ link: "/benchmarks", text: "All app benchmarks" }}
      containerStyles="gap-3 sm:gap-3">
      {
        APPS.map((app, idx) => (
          <LeaderboardCard
            key={`app-review-card-${app.id}`}
            name={app.name}
            ensAwardsScore={app.ensAwardsScore}
            type={app.type}
            viewDetailsLink={`/benchmarks/${app.slug}`}>
            <Image
              src={images[app.iconSourceLink]()}
              alt={`${app.id}-LP`}
              slot="appIcon"
              class="w-10 h-10 rounded-md"
            />
            {idx < 3 ? (
              <Image
                alt={`${idx + 1}-place-LP`}
                src={images[placeIcons[idx]]()}
                slot="placeIcon"
              />
            ) : (
              <p
                slot="placeIcon"
                class="w-8 pt-[7px] px-[11px] pb-[5px] text-sm leading-normal font-semibold text-muted-foreground">
                {idx + 1}
              </p>
            )}
          </LeaderboardCard>
        ))
      }
      <SuggestionCard whatsSuggested="app" />
    </ItemsList>
    <ItemsList
      header="ENS best practices"
      linkData={{ link: "/ens-best-practices", text: "See all" }}>
      {
        BEST_PRACTICE_CATEGORIES.map((category, idx) => (
          <CategoryCard
            key={`best-practice-card-${idx}`}
            name={category.name}
            description={category.description}
            viewBestPracticesLink={`/ens-best-practices/${category.slug}`}
            comingSoon={category.status}
            numberOfBestPractices={category.bestPractices.length}
          />
        ))
      }
    </ItemsList>
  </section>
</Layout>
