---
import { PROTOCOLS } from "data/protocols";
import { type Contract } from "data/protocols/contracts-types";
import DataLoadingError from "@/components/organisms/DataLoadingError.astro";
import SubpageHero from "@/components/molecules/SubpageHero.astro";
import {
  ChainIcon,
  EnsIcon,
  getChainName,
  SUPPORTED_CHAINS,
  TwitterIcon,
} from "@namehash/namehash-ui";
import ContractCard from "@/components/atoms/cards/ContractCard.astro";
import Layout from "@/layouts/Layout.astro";
import ItemsList from "@/components/molecules/ItemsList.astro";
import GlobeIcon from "@/components/atoms/icons/GlobeIcon.astro";
import ContractNamingBanner from "@/components/atoms/banners/ContractNamingBanner.astro";
import EnscribeIcon from "@/components/atoms/icons/EnscribeIconLight.astro";
import EnsAwardsScoreDisplay from "@/components/atoms/ens-awards-score/circular.astro";
import { sortByResolutionStatus } from "@/contract-pipelines/sorting";
import { cn } from "@/utils/tailwindClassConcatenation";
import { getContractNamingScoresByProtocolType } from "@/contract-pipelines/utils";
import {
  buildProtocolOgImageUrl,
  getProtocolBySlug,
  getAllProtocolContracts,
  formatProtocolType,
} from "data/protocols/utils";
import {
  ContributorsCard,
  ContributorsCardLoading,
  ContributionTypes,
} from "@/components/atoms/cards/ContributorsCard";
import { type Contribution } from "data/contributors/types";
import { getProtocolContributions } from "data/contributors/utils";
import type { EnsAwardsScore } from "data/shared/ens-awards-score";
import AwardsCard from "@/components/atoms/cards/AwardsCard.astro";

export function getStaticPaths() {
  const staticPaths = [];

  PROTOCOLS.forEach((protocol) =>
    staticPaths.push({
      params: {
        protocolSlug: protocol.protocolSlug,
      },
    }),
  );
  return staticPaths;
}

const { protocolSlug } = Astro.params;

const protocol = getProtocolBySlug(protocolSlug);

// The default values should never be used. Only introduced for type safety.
let protocolContracts: Contract[] = [];
let protocolScore: EnsAwardsScore = 0;
let ProtocolIcon: typeof GlobeIcon = GlobeIcon;
let protocolContributions: Contribution[] = [];

if (protocol) {
  protocolContracts = getAllProtocolContracts(protocol.id);
  ProtocolIcon = protocol.icon;
  protocolScore = getContractNamingScoresByProtocolType(protocol.protocolType)[protocol.id] ?? 0;
  protocolContributions = getProtocolContributions(protocol);
}
---

{
  protocol === undefined ? (
    // theoretically, because of Astro's build-time page generation, this should never happen
    <DataLoadingError />
  ) : (
    <Layout
      pageMetadata={{
        title: `ENSAwards: ${protocol.name} ENS Integration Benchmarks`,
        description: protocol.description,
        url: `https://ensawards.org/protocol/${protocol.protocolSlug}`,
        ogImage: buildProtocolOgImageUrl(protocol.ogImagePath)?.href,
        twitterImage: buildProtocolOgImageUrl(protocol.twitterOgImagePath)
          ?.href,
      }}>
      <SubpageHero
        header={protocol.name}
        description={protocol.description}
        breadcrumbs={[
          { text: "ENS leaderboards", linkHref: "/leaderboards" },
          {
            text: `${formatProtocolType(protocol.protocolType)} leaderboard`,
            linkHref: `/leaderboards/${protocol.protocolType}`,
          },
        ]}>
        <ProtocolIcon
          slot="icon"
          className="w-[60px] h-[60px] shrink-0 rounded-lg"
        />
        <div
          slot="ctaContent"
          class="flex flex-row flex-nowrap justify-start items-center gap-2">
          <a href={protocol.socials.website} rel="noreferrer" target="_blank">
            <GlobeIcon className="hover:text-white text-gray-400 transition-all duration-200" />
          </a>
          <a href={protocol.socials.twitter} rel="noreferrer" target="_blank">
            <TwitterIcon className="hover:text-white text-gray-400 transition-all duration-200" />
          </a>
          {protocol.socials.ens && (
            <a
              href={`https://app.ens.domains/${encodeURIComponent(protocol.socials.ens)}`}
              rel="noreferrer"
              target="_blank">
              <EnsIcon
                width={18}
                height={18}
                className="hover:text-white text-gray-400 transition-all duration-200"
              />
            </a>
          )}
        </div>
        <EnsAwardsScoreDisplay
          slot="largerHeroItem"
          score={protocolScore}
          label="ENSAwards score"
        />
      </SubpageHero>
      <section class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px] sm:px-8">
        <ContractNamingBanner />
        <ContributorsCard
          client:only="react"
          contributionType={ContributionTypes.Contract}
          existingContributions={protocolContributions}
          gitHubTargetHref={`https://github.com/namehash/ensawards/blob/main/ensawards.org/data/protocols/${protocol.protocolSlug}/contracts.ts`}>
          <ContributorsCardLoading
            slot="fallback"
            contributionType={ContributionTypes.Contract}
          />
        </ContributorsCard>
        <AwardsCard entity={protocol} />
        <ItemsList
          header="Smart contract naming"
          containerStyles="gap-3 sm:gap-2">
          <a
            href="https://www.enscribe.xyz/"
            target="_blank"
            rel="noreferrer"
            slot="ctaButton"
            class="w-[225px] flex flex-row flex-nowrap justify-start items-center gap-3 px-4 py-2 bg-gray-50 rounded-lg border border-gray-200 hover:border-gray-300 text-sm text-gray-400 whitespace-nowrap hover:text-gray-500 font-normal leading-7 hover:shadow-xs transition duration-200">
            <span>Powered by</span>
            <EnscribeIcon />
          </a>
          {SUPPORTED_CHAINS.map((supportedChain, idx) => {
            const contractsOnChain = protocolContracts.filter(
              (contract) =>
                contract.cachedIdentity.contract.chain.id === supportedChain.id,
            );
            if (contractsOnChain.length === 0) {
              return null;
            }

            // Sort contracts by resolution status: PrimaryNamed, ForwardNamed, then Unnamed
            const sortedContracts = sortByResolutionStatus(contractsOnChain);

            return (
              <>
                <div
                  class={cn(
                    "h-fit w-full flex flex-row flex-nowrap justify-start items-center gap-4 pb-1 sm:pb-4",
                    idx > 0 && "pt-1 sm:pt-8",
                  )}>
                  <>
                    <span class="w-10 h-10 bg-white flex flex-col justify-center items-center rounded-lg border border-gray-200">
                      <ChainIcon chainId={supportedChain.id} />
                    </span>
                    <h4 class="text-xl text-black leading-normal font-semibold">
                      {getChainName(supportedChain.id)}
                    </h4>
                  </>
                </div>
                {sortedContracts.map((contract) => (
                  <ContractCard contract={contract} />
                ))}
              </>
            );
          })}
        </ItemsList>
      </section>
    </Layout>
  )
}
