---
import UnderConstructionBanner from "../../components/atoms/UnderConstructionBanner.astro";
import CategoryCard from "../../components/atoms/cards/CategoryCard.astro";
import SuggestionCard from "../../components/atoms/cards/SuggestionCard.astro";
import ItemsList from "../../components/molecules/ItemsList.astro";
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import { BEST_PRACTICE_CATEGORIES } from "../../data/bestPractices";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  pageMetadata={{
    title: "ENSAwards: ENS Best Practices",
    description: "Best practices for ENS integrations.",
    url: "https://ensawards.org/ens-best-practices",
  }}>
  <SubpageHero
    header="ENS best practices"
    description="Learn how to build the best possible ENS integration.">
    <div
      slot="largerHeroItem"
      class="max-sm:self-stretch sm:absolute sm:top-0 sm:right-0">
      <UnderConstructionBanner
        text="The current catalog of ENS best practices is not comprehensive and is being expanded"
      />
    </div>
  </SubpageHero>
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px] sm:px-8">
    <ItemsList header="Best Practice Categories">
      {
        BEST_PRACTICE_CATEGORIES.map((category, idx) => (
          <CategoryCard
            key={`best-practice-card-${idx}`}
            name={category.name}
            description={category.description}
            viewBestPracticesLink={`/ens-best-practices/${category.slug}`}
            comingSoon={category.status}
            numberOfBestPractices={category.bestPractices.length}
          />
        ))
      }
      <SuggestionCard whatsSuggested="best practice" />
    </ItemsList>
  </section>
</Layout>
