---
import BestPracticeCard from "../../../components/atoms/cards/BestPracticeCard.astro";
import SuggestionCard from "../../../components/atoms/cards/SuggestionCard.astro";
import ItemsList from "../../../components/molecules/ItemsList.astro";
import SubpageHero from "../../../components/molecules/SubpageHero.astro";
import Layout from "../../../layouts/Layout.astro";
import {BestPracticeCategories, CategoryStatus} from "../../../data/bestPracticesData";
import {getCategoryById} from "../../../utils";
export function getStaticPaths() {
  return BestPracticeCategories.map((category) => ({ params: { category: category.id } }))
}

const { category } = Astro.params;

const categoryToDisplay = getCategoryById(category);
---

<Layout>
  {categoryToDisplay === undefined ? (
      <p>ERROR</p>
      // TODO: update the error version (even though it should never occur)
  ) : (
      <>
    <SubpageHero
        header={categoryToDisplay.name}
        description={categoryToDisplay.description}
        breadcrumbs={["ENS best practices"]}
        additionalElements={[{ name: "Best practices", value: categoryToDisplay.bestPractices.length }]}
    />
    <section
        class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center gap-10 p-5 sm:py-[60px]">
      <ItemsList
          header="Best practices"
          additionalInfo={categoryToDisplay.status === CategoryStatus.Updated ? "The list of best practices is not comprehensive and is being updated." : undefined}>
        {
          categoryToDisplay.bestPractices.map((bestPractice, idx) => (
              <BestPracticeCard
                  key={`best-practice-card-${idx}`}
                  name={bestPractice.name}
                  description={bestPractice.description}
                  viewReviewsLink={`/ens-best-practices/${category}/${bestPractice.id}`}
                  appsPassed={bestPractice.appsPassed}
                  appSupport={bestPractice.appSupport}
              />
          ))
        }
        <SuggestionCard whatsSuggested="best practice" />
      </ItemsList>
    </section>
      </>
  )}
</Layout>
