---
import { ENS_HOLIDAY_AWARDS_END_DATE } from "@namehash/ens-referrals";
import AlertCountdown from "../../../components/atoms/AlertCountdown.astro";
import ContractNamingBanner from "../../../components/atoms/ContractNamingBanner.astro";
import UnderConstructionBanner from "../../../components/atoms/UnderConstructionBanner.astro";
import BestPracticeCard from "../../../components/atoms/cards/BestPracticeCard.astro";
import SuggestionCard from "../../../components/atoms/cards/SuggestionCard.astro";
import EnscribeIcon from "../../../components/atoms/icons/EnscribeIconDark.astro";
import ItemsList from "../../../components/molecules/ItemsList.astro";
import SubpageHero from "../../../components/molecules/SubpageHero.astro";
import DataLoadingError from "../../../components/organisms/DataLoadingError.astro";
import { BEST_PRACTICE_CATEGORIES } from "../../../data/bestPractices";
import Layout from "../../../layouts/Layout.astro";
import { CategoryStatus } from "../../../types/bestPractices";
import { getCategoryBySlug } from "../../../utils/dataAccess";
export function getStaticPaths() {
  return BEST_PRACTICE_CATEGORIES.map((category) => ({
    params: { category: category.slug },
  }));
}

const { category } = Astro.params;

const categoryToDisplay = getCategoryBySlug(category);
---

{
  categoryToDisplay === undefined ? (
    // theoretically, because of Astro's build-time page generation, this should never happen
    <DataLoadingError />
  ) : (
    <Layout
      pageMetadata={{
        title: `ENSAwards: ${categoryToDisplay.name} Best Practices`,
        description: categoryToDisplay.description,
        url: `https://ensawards.org/ens-best-practices/${category}`,
      }}>
      <AlertCountdown
        slot="alertBanner"
        eventUnixTimestamp={ENS_HOLIDAY_AWARDS_END_DATE}
        eventText="ENS Holiday Awards ends in"
        ctaText="Learn more"
        link="/ens-referral-awards"
        styles={{
          banner:
            "bg-blue-700 hover:bg-blue-700/90 transition-all duration-200",
          cta: "text-white decoration-white/40 hover:decoration-white",
          text: "text-white",
          timer: "text-white",
          timerLegend: "text-white",
        }}
      />
      <SubpageHero
        header={categoryToDisplay.name}
        description={categoryToDisplay.description}
        breadcrumbs={["ENS best practices"]}
        additionalElements={[
          {
            name: "Best practices",
            value: categoryToDisplay.bestPractices.length,
          },
        ]}>
        {categoryToDisplay.id.includes("contract") && (
          <div
            slot="extraAdditionalElement"
            class="flex flex-row sm:flex-col flex-nowrap justify-between sm:justify-center items-center sm:items-start sm:gap-0 leading-7 max-sm:self-stretch">
            <p class="text-gray-400">Powered by</p>
            <a
              href="https://www.enscribe.xyz/"
              target="_blank"
              rel="noreferrer">
              <EnscribeIcon />
            </a>
          </div>
        )}
        {categoryToDisplay.status === CategoryStatus.Active && (
          <div
            slot="largerHeroItem"
            class="max-sm:self-stretch sm:absolute sm:top-0 sm:right-0">
            <UnderConstructionBanner text="The current catalog of ENS best practices is not comprehensive and is being expanded." />
          </div>
        )}
      </SubpageHero>
      <section class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px]">
        {categoryToDisplay.id.includes("contract") && <ContractNamingBanner />}
        <ItemsList header="Best practices">
          {categoryToDisplay.bestPractices.map((bestPractice, idx) => (
            <BestPracticeCard
              key={`best-practice-card-${idx}`}
              id={bestPractice.id}
              name={bestPractice.name}
              description={bestPractice.description}
              viewReviewsLink={`/ens-best-practices/${categoryToDisplay.slug}/${bestPractice.slug}`}
              appliesTo={bestPractice.appliesTo}
            />
          ))}
          <SuggestionCard whatsSuggested="best practice" />
        </ItemsList>
      </section>
    </Layout>
  )
}
