---
import { Image } from "astro:assets";
import { ENS_HOLIDAY_AWARDS_END_DATE } from "@namehash/ens-referrals";
import type { ImageMetadata } from "astro";
import AlertCountdown from "../../components/atoms/AlertCountdown.astro";
import LeaderboardCard from "../../components/atoms/cards/LeaderboardCard.astro";
import LeaderboardSnippetCard from "../../components/atoms/cards/LeaderboardSnippetCard.astro";
import ItemsList from "../../components/molecules/ItemsList.astro";
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import { contractPipeline } from "../../contract-pipelines";
import { daoContractsOnly } from "../../contract-pipelines/filters";
import { sortDaoLeaderboard } from "../../contract-pipelines/sorting";
import { APPS } from "../../data/apps";
import Layout from "../../layouts/Layout.astro";
import { OrgId } from "../../types/organizations";
import { calculateAppEnsAwardsScore, getOrgById } from "../../utils/dataAccess";
import { cn } from "../../utils/tailwindClassConcatenation";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif,svg}");

const daoScores = contractPipeline({
  filter: daoContractsOnly,
  sort: sortDaoLeaderboard,
});

const daoLeaderboardDescription = "See how DAOs rank for following ENS best practices.";
const appLeaderboardDescription = "See how apps rank for following ENS best practices.";
const referrerLeaderboardDescription =
  "Compare referrers by their performance in ENS Holiday Awards.";
---

<Layout
  pageMetadata={{
    title: "ENSAwards: ENS Leaderboards",
    description:
      "Compare projects by their rank of following a selection of ENS best practices.",
    url: "https://ensawards.org/leaderboards",
    ogImage: "https://ensawards.org/ens_leaderboards_og_image.png",
    twitterImage: "https://ensawards.org/ens_leaderboards_twitter_og_image.png",
  }}>
  <AlertCountdown
    slot="alertBanner"
    eventUnixTimestamp={ENS_HOLIDAY_AWARDS_END_DATE}
    eventText="ENS Holiday Awards ends in"
    ctaText="Learn more"
    link="/ens-referral-awards"
    styles={{
      banner: "bg-blue-700 hover:bg-blue-700/90 transition-all duration-200",
      cta: "text-white decoration-white/40 hover:decoration-white",
      text: "text-white",
      timer: "text-white",
      timerLegend: "text-white",
    }}
  />
  <SubpageHero
    header="ENS leaderboards"
    description="Compare projects by their rank of following a selection of ENS best practices."
    customImage={{
      source: "/src/assets/leaderboardsHeroImage.png",
      width: 371,
      height: 372,
      styles: "-top-0 right-0",
    }}
  />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px] sm:px-8">
    <ItemsList>
      <LeaderboardSnippetCard
        name="DAO leaderboard"
        description={daoLeaderboardDescription}
        link="/leaderboards/dao">
        <div
          slot="bestResultsIcons"
          class="sm:relative sm:left-4 flex flex-row flex-nowrap justify-center items-center gap-0">
          {
            Object.entries(daoScores)
              .slice(0, 3)
              .map(([scoreCategory, value], idx) => {
                const daoId = scoreCategory as OrgId;
                const org = getOrgById(daoId);
                const OrgIcon = org.icon;
                return (
                  <div
                    style={{ right: `${12 * idx}px` }}
                    class={cn(
                      idx > 0 && "relative",
                      "flex flex-col items-center justify-center box-border w-fit h-fit border border-gray-200 rounded-md bg-white",
                    )}>
                    <OrgIcon className="w-10 h-10 rounded-md" />
                  </div>
                );
              })
          }
          <p
            class="relative text-sm leading-normal font-medium text-muted-foreground"
            style={{ right: "16px" }}>
            + more
          </p>
        </div>
      </LeaderboardSnippetCard>
      <LeaderboardSnippetCard
        name="App leaderboard"
        description={appLeaderboardDescription}
        link="/leaderboards/app">
        <div
          slot="bestResultsIcons"
          class="sm:relative sm:left-4 flex flex-row flex-nowrap justify-center items-center gap-0">
          {
            APPS.sort(
              (a, b) =>
                calculateAppEnsAwardsScore(b) - calculateAppEnsAwardsScore(a),
            )
              .slice(0, 3)
              .map((app, idx) => {
                return (
                  <div
                    style={{ right: `${12 * idx}px` }}
                    class={cn(
                      idx > 0 && "relative",
                      "flex flex-col items-center justify-center box-border w-fit h-fit border border-gray-200 rounded-md bg-white",
                    )}>
                    {" "}
                    <Image
                      src={images[app.iconPath]()}
                      alt={`${app.id}`}
                      class="w-10 h-10 rounded-md"
                    />
                  </div>
                );
              })
          }
          <p
            class="relative text-sm leading-normal font-medium text-muted-foreground"
            style={{ right: "16px" }}>
            + more
          </p>
        </div>
      </LeaderboardSnippetCard>
      <LeaderboardSnippetCard
        name="Referrer leaderboard"
        description={referrerLeaderboardDescription}
        link="/leaderboards/referrer"
      />
    </ItemsList>
  </section>
</Layout>
