---
import LeaderboardSnippetCard from "../../components/atoms/cards/LeaderboardSnippetCard.astro";
import ItemsList from "../../components/molecules/ItemsList.astro";
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import { contractPipeline } from "../../contract-pipelines";
import { daoContractsOnly, defiContractsOnly } from "../../contract-pipelines/filters";
import { sortProtocolLeaderboard } from "../../contract-pipelines/sorting";
import { APPS } from "../../data/apps";
import Layout from "../../layouts/Layout.astro";
import { AppTypes } from "../../types/apps";
import { DAOProtocolId, DefiProtocolId } from "../../types/protocols";
import {
  calculateAppEnsAwardsScore,
  getDaoByProtocolId,
  getDefiProtocolByProtocolId,
  pluralizeBestPracticeTarget,
} from "../../utils/dataAccess";
import { cn } from "../../utils/tailwindClassConcatenation";

const daoScores = contractPipeline({
  filter: daoContractsOnly,
  sort: sortProtocolLeaderboard,
});

const defiScores = contractPipeline({
  filter: defiContractsOnly,
  sort: sortProtocolLeaderboard,
});

const daoLeaderboardDescription = "See how DAOs rank for following ENS best practices.";
const defiLeaderboardDescription = "See how Defi protocols rank for following ENS best practices.";
const referrerLeaderboardDescription =
  "Compare referrers by their performance in ENS Holiday Awards.";
---

<Layout
  pageMetadata={{
    title: "ENSAwards: ENS Leaderboards",
    description:
      "Explore how top ENS advocates contribute to the growth of ENS.",
    url: "https://ensawards.org/leaderboards",
    ogImage: "https://ensawards.org/ens_leaderboards_og_image.png",
    twitterImage: "https://ensawards.org/ens_leaderboards_twitter_og_image.png",
  }}>
  <SubpageHero
    header="ENS leaderboards"
    description="Explore how top ENS advocates contribute to the growth of ENS."
    customImage={{
      source: "/src/assets/leaderboardsHeroImage.png",
      width: 371,
      height: 372,
      styles: "-top-0 right-0",
    }}
  />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px] sm:px-8">
    <ItemsList header="Apps" containerStyles="sm:gap-6">
      {
        Object.values(AppTypes).map((appType) => {
          const relevantApps = APPS.filter((app) => app.type === appType);

          return (
            <LeaderboardSnippetCard
              name={`${appType} leaderboard`}
              description={`See how ${pluralizeBestPracticeTarget(appType).toLowerCase()} rank for following ENS best practices.`}
              link={`/leaderboards/${appType.toLowerCase()}`}>
              <div
                slot="bestResultsIcons"
                class="sm:relative sm:left-4 flex flex-row flex-nowrap justify-center items-center gap-0">
                {relevantApps
                  .sort(
                    (a, b) =>
                      calculateAppEnsAwardsScore(b) -
                      calculateAppEnsAwardsScore(a),
                  )
                  .slice(0, 3)
                  .map((app, idx) => {
                    const AppIcon = app.icon;
                    return (
                      <div
                        style={{ right: `${12 * idx}px` }}
                        class={cn(
                          idx > 0 && "relative",
                          "flex flex-col items-center justify-center box-border w-fit h-fit border border-gray-200 rounded-md bg-white",
                        )}>
                        <AppIcon className="w-10 h-10 rounded-md" />
                      </div>
                    );
                  })}
                {relevantApps.length > 3 && (
                  <p
                    class="relative text-sm leading-normal font-medium text-muted-foreground"
                    style={{ right: "16px" }}>
                    + more
                  </p>
                )}
              </div>
            </LeaderboardSnippetCard>
          );
        })
      }
    </ItemsList>
    <ItemsList header="Protocols" containerStyles="sm:gap-6">
      <LeaderboardSnippetCard
        name="DAO leaderboard"
        description={daoLeaderboardDescription}
        link="/leaderboards/dao">
        <div
          slot="bestResultsIcons"
          class="sm:relative sm:left-4 flex flex-row flex-nowrap justify-center items-center gap-0">
          {
            Object.entries(daoScores)
              .slice(0, 3)
              .map(([scoreCategory, value], idx) => {
                const daoId = scoreCategory as DAOProtocolId;
                const daoProtocol = getDaoByProtocolId(daoId);
                const DaoIcon = daoProtocol.icon;
                return (
                  <div
                    style={{ right: `${12 * idx}px` }}
                    class={cn(
                      idx > 0 && "relative",
                      "flex flex-col items-center justify-center box-border w-fit h-fit border border-gray-200 rounded-md bg-white",
                    )}>
                    <DaoIcon className="w-10 h-10 rounded-md" />
                  </div>
                );
              })
          }
          <p
            class="relative text-sm leading-normal font-medium text-muted-foreground"
            style={{ right: "16px" }}>
            + more
          </p>
        </div>
      </LeaderboardSnippetCard>
      <LeaderboardSnippetCard
        name="Defi leaderboard"
        description={defiLeaderboardDescription}
        link="/leaderboards/defi">
        <div
          slot="bestResultsIcons"
          class="sm:relative sm:left-4 flex flex-row flex-nowrap justify-center items-center gap-0">
          {
            Object.entries(defiScores)
              .slice(0, 3)
              .map(([scoreCategory, value], idx) => {
                const defiId = scoreCategory as DefiProtocolId;
                const defiProtocol = getDefiProtocolByProtocolId(defiId);
                const DefiIcon = defiProtocol.icon;
                return (
                  <div
                    style={{ right: `${12 * idx}px` }}
                    class={cn(
                      idx > 0 && "relative",
                      "flex flex-col items-center justify-center box-border w-fit h-fit border border-gray-200 rounded-md bg-white",
                    )}>
                    <DefiIcon className="w-10 h-10 rounded-md" />
                  </div>
                );
              })
          }
          {
            Object.entries(defiScores).length > 3 && (
              <p
                class="relative text-sm leading-normal font-medium text-muted-foreground"
                style={{ right: "16px" }}>
                + more
              </p>
            )
          }
        </div>
      </LeaderboardSnippetCard>
    </ItemsList>
    <ItemsList header="Referrers" containerStyles="sm:gap-6">
      <LeaderboardSnippetCard
        name="Referrer leaderboard"
        description={referrerLeaderboardDescription}
        link="/leaderboards/referrer"
      />
    </ItemsList>
  </section>
</Layout>
