---
import { APPS } from "data/apps";
import { BenchmarkResult } from "data/apps/benchmarks-types.ts";
import type { BestPracticeApp } from "data/ens-best-practices/types.ts";
import { BenchmarkResultToBadgeStyles, getAppSupportColor } from "@/utils/styles";
import { cn } from "@/utils/tailwindClassConcatenation";
import { BenchmarkResultBadge } from "../atoms/badges/BenchmarkResultBadge";
import BenchmarkResultCard from "../atoms/cards/BenchmarkResultCard.astro";
import ItemsList from "../molecules/ItemsList.astro";
import SubpageHero from "../molecules/SubpageHero.astro";
import { calculateAppsPassed, calculateAppSupport } from "data/apps/utils.ts";
import { SuggestionCard, SuggestionCardLoading } from "../atoms/cards/SuggestionCard.tsx";
import BestPracticeTechnicalDetails from "@/components/molecules/BestPracticeTechnicalDetails.astro";
import { BenchmarksPerAppTypeCard } from "@/components/atoms/cards/BenchmarksPerAppTypeCard.tsx";
import { ScoreBar } from "@/components/atoms/ens-awards-score/bar.tsx";

export interface AppBestPracticeDetailsProps {
  bestPractice: BestPracticeApp;
}

const { bestPractice }: AppBestPracticeDetailsProps = Astro.props;

// Get apps that have benchmarks for this specific best practice
const appsWithBenchmarks = APPS.map((app) => {
  const matchingBenchmark = app.benchmarks.find(
    (benchmark) =>
      benchmark.bestPractice.category.id === bestPractice.category.id &&
      benchmark.bestPractice.id === bestPractice.id,
  );

  return {
    app,
    benchmark: matchingBenchmark,
  };
});

// Filter out apps that don't have a benchmark for this best practice
const appsWithValidBenchmarks = appsWithBenchmarks.filter(
  ({ benchmark }) => benchmark !== undefined,
);

// Declare sort order for benchmark result (Pass → Partial Pass → Fail)
const resultOrder = {
  [BenchmarkResult.Pass]: 0,
  [BenchmarkResult.PartialPass]: 1,
  [BenchmarkResult.Fail]: 2,
};

// Sort benchmark results
const sortedAppsByBenchmark = appsWithValidBenchmarks.sort((a, b) => {
  // First sort by result
  const resultDiff = resultOrder[a.benchmark!.result] - resultOrder[b.benchmark!.result];
  if (resultDiff !== 0) return resultDiff;
  // Then sort alphabetically within those categories
  return a.app.name.localeCompare(b.app.name);
});

const appsPassed = calculateAppsPassed(bestPractice);
const appSupport = calculateAppSupport(bestPractice);
---

<SubpageHero
  header={bestPractice.name}
  description={bestPractice.description}
  breadcrumbs={["ENS best practices", bestPractice.category.name]}
  additionalElements={[
    {
      name: "Category",
      value: bestPractice.category.name,
      link: `/ens-best-practices/${bestPractice.category.categorySlug}`,
    },
    {
      name: "Apps passed",
      value: appsPassed,
    },
  ]}>
  <div
    slot="extraAdditionalElementLast"
    class="flex flex-row md:flex-col flex-nowrap justify-between md:justify-center items-center md:items-end md:gap-0 leading-7 max-md:self-stretch">
    <p class="text-gray-400 whitespace-nowrap">App support</p>
    <ScoreBar score={appSupport} mobileAdaptive={false} />
  </div>
</SubpageHero>
<section
  class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center py-6 sm:py-[60px] px-5 sm:px-8">
  <div
    class="w-full max-w-[1216px] flex flex-nowrap flex-col md:flex-row gap-6 md:gap-20 justify-start md:justify-center items-start">
    <BestPracticeTechnicalDetails bestPractice={bestPractice} />
    <div class="w-full md:w-1/2 h-fit box-border flex flex-col gap-5">
      <SuggestionCard
        client:only="react"
        sidebarVariant
        whatsSuggested="best practice"
        allContributions={bestPractice.contributions}
        gitHubTargetHref={`https://github.com/namehash/ensawards/blob/main/ensawards.org/data/ens-best-practices/${bestPractice.category.categorySlug}/${bestPractice.bestPracticeSlug}.ts`}>
        <SuggestionCardLoading
          slot="fallback"
          sidebarVariant
          whatsSuggested="best practice"
          allContributions={bestPractice.contributions}
        />
      </SuggestionCard>
      {
        bestPractice.appliesTo.map((appliesTo) => (
          <BenchmarksPerAppTypeCard
            appsWithBenchmark={sortedAppsByBenchmark.filter(
              ({ app }) => app.type === appliesTo,
            )}
          />
        ))
      }
    </div>
  </div>
</section>
