---
import type { App } from "data/apps/types.ts";
import type { AcceptanceTestBenchmarks } from "data/benchmarks/types";
import type { BestPractice } from "data/ens-best-practices/types.ts";

import {
  DesiredOutcome,
  technicalSectionContainerStyles,
  technicalSectionHeaderStyles,
  ImplementationRecommendations,
  UseCaseSummary,
  AcceptanceTestDetailsContainer,
} from "../shared";
import { cn } from "@/utils/tailwindClassConcatenation";
import { BenchmarkResultBadge } from "@/components/atoms/badges/BenchmarkResultBadge.tsx";
import { PendingAcceptanceTestResultCTA } from "@/components/atoms/banners/PendingAcceptanceTestResultCTA.tsx";
import {
  AcceptanceTestResultNotes,
  AcceptanceTestResultFooter,
  AcceptanceTestResultFooterLoading,
} from "./acceptanceTestResultDetails.tsx";

interface BenchmarkTechnicalDetailsProps {
  bestPractice: BestPractice;
  acceptanceTestBenchmarks: AcceptanceTestBenchmarks;
  benchmarkedApp: App;
}

const { bestPractice, acceptanceTestBenchmarks, benchmarkedApp }: BenchmarkTechnicalDetailsProps =
  Astro.props;

// Sort acceptance tests by slug (alphabetically) to ensure consistent display order across best practice details and benchmark details pages.
const sortedAcceptanceTestBenchmarks = [...Object.entries(acceptanceTestBenchmarks)].sort(
  ([aAcceptanceTestSlug, _a], [bAcceptanceTestSlug, _b]) =>
    aAcceptanceTestSlug.localeCompare(bAcceptanceTestSlug),
);
---

<div
  class="max-w-[716px] flex flex-nowrap flex-col justify-center items-start gap-6">
  <div class={technicalSectionContainerStyles}>
    <h2 class={technicalSectionHeaderStyles}>
      ENS best practice benchmark report
    </h2>
    <UseCaseSummary bestPractice={bestPractice} />
    <DesiredOutcome bestPractice={bestPractice} />
  </div>
  {
    sortedAcceptanceTestBenchmarks.map(
      ([acceptanceTestSlug, acceptanceTestBenchmark], index) => (
        <AcceptanceTestDetailsContainer
          key={acceptanceTestSlug}
          acceptanceTestSlug={acceptanceTestSlug}
          testIndex={index}>
          <div
            class={cn(
              technicalSectionContainerStyles,
              "w-full p-4 bg-neutral-50 rounded-xl",
            )}>
            <h3
              class={cn(
                technicalSectionHeaderStyles,
                "text-xl w-full flex flex-row items-start justify-between gap-3",
              )}>
              {`Test ${index + 1} Result`}
              <BenchmarkResultBadge
                benchmarkResult={acceptanceTestBenchmark?.result}
              />
            </h3>
            {acceptanceTestBenchmark === undefined ? (
              <PendingAcceptanceTestResultCTA app={benchmarkedApp} />
            ) : (
              <>
                <AcceptanceTestResultNotes
                  acceptanceTestBenchmark={acceptanceTestBenchmark}
                />
                <div class="w-full h-px bg-border" />
                <AcceptanceTestResultFooter
                  acceptanceTestBenchmark={acceptanceTestBenchmark}
                  client:only="react">
                  <AcceptanceTestResultFooterLoading slot="fallback" />
                </AcceptanceTestResultFooter>
              </>
            )}
          </div>
        </AcceptanceTestDetailsContainer>
      ),
    )
  }
  <ImplementationRecommendations bestPractice={bestPractice} />
</div>
