---
import { cn } from "../../utils/tailwindClassConcatenation";
import ChevronRightIcon from "./icons/ChevronRightIcon.astro";
import HomeIcon from "./icons/HomeIcon.astro";
import { getAppByName } from "/data/apps/utils";

interface BreadcrumbsProps {
  breadcrumbs: string[];
  styles?: {
    home?: string;
    chevron?: string;
    text?: string;
  };
}

const { breadcrumbs, styles }: BreadcrumbsProps = Astro.props;

let breadcrumbHref = "";

const normalizeText = (text: string): string => text.toLowerCase().replaceAll(" ", "-");

const adaptBreadcrumb = (crumb: string): string => {
  // We use switch case here to stay flexible in the future
  switch (crumb) {
    case "DAO leaderboard":
      return "dao";
    case "DeFi leaderboard":
      return "defi";
    case "Wallet leaderboard":
      return "wallet";
    case "Explorer leaderboard":
      return "explorer";
    case "ENS leaderboards":
      return "leaderboards";
    case "ENS Referral Program":
      return "ens-referral-program";
    case "ENS advocates":
      return "advocate";
    default:
      return crumb;
  }
};

const handleAppBreadcrumb = (crumb: string): string | undefined => {
  const maybeApp = getAppByName(crumb);

  return maybeApp ? `/app/${maybeApp.appSlug}` : undefined;
};
---

<div
  class="flex flex-row flex-wrap justify-start items-center gap-[10px] relative z-10">
  <a
    href="/"
    class={cn(
      "box-content p-1 hover:bg-white/5 rounded-[4px] transition-all duration-200",
      styles?.home,
    )}>
    <HomeIcon className={cn("w-4 h-4")} />
  </a>
  <ChevronRightIcon className={cn("text-white", styles?.chevron)} />
  {
    breadcrumbs.map((crumb, idx) => {
      const urlAdaptedCrumb = adaptBreadcrumb(crumb);

      // We assume that an app will always be the last breadcrumb (at least for now).
      // That's necessary because our only use case of App in breadcrumbs (`ensawards.org\src\pages\app\[app]\[category]\[bestPractice]\index.astro`)
      // breaks the natural breadcrumbs flow, since the route to app details page is independent from leaderboards' routes
      breadcrumbHref =
        handleAppBreadcrumb(crumb) ??
        breadcrumbHref.concat("/", urlAdaptedCrumb);
      if (idx < breadcrumbs.length - 1) {
        return (
          <>
            <a
              class={cn(
                "text-xs sm:text-sm leading-normal font-normal text-white hover:underline hover:underline-offset-[25%] transition-all duration-200",
                styles?.text,
              )}
              href={decodeURI(normalizeText(breadcrumbHref))}>
              {crumb}
            </a>
            <ChevronRightIcon className={cn("text-white", styles?.chevron)} />
          </>
        );
      }
      return (
        <a
          class={cn(
            "text-xs sm:text-sm leading-normal font-normal text-white hover:underline hover:underline-offset-[25%] transition-all duration-200",
            styles?.text,
          )}
          href={decodeURI(normalizeText(breadcrumbHref))}>
          {crumb}
        </a>
      );
    })
  }
</div>
