---
import {adaptSuggestionText} from "../../utils";
import {cn} from "../../lib/utils";
import {shadcnButtonVariants} from "../shadcn/shadcnButtonStyles";
export interface SuggestFormOpenerProps {
    whatsSuggested: "app" | "best practice";
}

const {whatsSuggested}: SuggestFormOpenerProps = Astro.props;
---

<div class="w-fit md:w-[598px] max-w-[598px] h-fit min-h-[62px] box-border px-6 py-5 flex flex-row flex-wrap justify-between items-center rounded-2xl border border-dashed border-gray-300">
    <p class="text-base leading-normal font-normal text-muted-foreground">Suggest {adaptSuggestionText(whatsSuggested)} you'd like us to add.</p>
    <suggest-form-button data-suggestion={whatsSuggested} id=`${whatsSuggested}-suggestion-button` class={cn(shadcnButtonVariants({variant: "secondary", size: "default", className: "cursor-pointer rounded-full"}))}>Suggest {whatsSuggested}</suggest-form-button>
</div>


<script>
    import {openSuggestionOverlay} from "../../utils/openSuggestionOverlay";

    class SuggestionFormOpener extends HTMLElement {
        connectedCallback() {
            const formOpenerButton = document.getElementById(`${this.dataset.suggestion}-suggestion-button`);

            formOpenerButton.addEventListener('click', () => {
                openSuggestionOverlay(this.dataset.suggestion);
            });
        }
    }

    customElements.define('suggest-form-button', SuggestionFormOpener);
</script>
